.section {
    background-color: rgb(237, 245, 255);

}

.card {
    background: color(white);
    cursor: pointer;
    height: 100%;
  
    &__btn {
      margin-top: 2rem;
      padding: 0.8rem 2.4rem;
      background: #1890ff;
      border-radius: 30px;
      text-transform: capitalize;
    }
  
    &__content {
      flex: 1;
    }
  
    &__icon {
      margin-bottom: 2rem;
      width: 60px;
      height: 60px;
    }
  }


  .hero__title {
      font-size: 48px;
  }
  .hero__title2{
    font-size: 36px;
}

  .hero__desc {
    font-size: 20px;
    max-width: 100%;
}

.btn--white{
    background-color: white;
    color: blue !important;
}
.home-plan { 
     padding-top: 3rem;

  }


