<header class="header">
    <div class="navigation" [ngClass]="{ sticky: isSticky }">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#" routerLink="/">
            <img src="./assets/images/logo.svg" class="logo" />
          </a>
        </nav>
      </div>
    </div>
  </header>
  

  <main class="home">
    <section class="section hero py-0">
      <div class="hero--bg2"></div>
  
      <div class="hero-wrapper">
        <div class="container">
          <div class="hero-content">
            <h3 class="hero__title text-white"  >
              Welcome to AIICO! 
             
            </h3>
            <p class="hero__desc text-white" >
              Thank you for choosing us. Our World revolves around you; we keep innovating and evolving with our value-based offerings and the way we serve you. We will continue to remain flexible and adaptable to your changing preferences...
             
            </p>

            <a href="javascript:void(0)" (click)="scrollToDiv(target)" class="btn btn--white btn--with-icon">See All
              Products
              <span class="btn-icon icon-right-arrow"></span>
            </a>
          </div>
        </div>
  
    
      </div>
  
   
    </section>
  
    <section class="section section__packages" #target>
      <div class="container">
        <div class="section__header">
          <h3 class="hero__title2 "  >
            All Product Offerings 
           
          </h3>
        
            <div class="home-plan text-center"  *ngFor="let category of categories$ | async">
              <div class="row text-center mb-3 ml-3">
                <h3 class="home-plan__title text-uppercase text-small" [ngStyle]="{'color':'#1890ff'}">{{ category }} Category >></h3>
              </div>

              <div class="row">
              <div class="col-md-4 col-lg-4 mb-5" *ngFor="let product of (productsByCategories$ | async)[category]">
                <div class="card p-4 text-center shadow-lg bg-white rounded"
                  [routerLink]="category === 'travel' ? ['/register', category, product.id] : ['/plan', category, product.id]">
                  <div class="card__content">
                    <img class="card__icon" src="../../../assets/images/svg/plans/{{ planIcons[product.id] }}" />
                    <p class="card__title" [ngStyle]="{ 'font-size': 'small', 'font-weight':'bold' }">{{ product.name }}</p>
                    <p class="card__text">{{ product.description }}</p>
                    <a
                      href="#"
                      *ngIf="category !== 'travel'"
                      [routerLink]="['/plan', category, product.id]"
                      class="btn btn--primary card__btn"
                      >Buy Plan</a
                    >
                    <a
                      href="#"
                      *ngIf="category === 'travel'"
                      [routerLink]="['/register', category, product.id]"
                      class="btn btn--primary card__btn"
                      >Buy Now</a
                    >
                  </div>
                </div>
        
            </div>
      
      
      
          </div>
       </div>
         
        </div>
  
      </div>
    </section>
  
 
  
  
  </main>
  
 

  


  
 
  