<nz-modal
  [(nzVisible)]="visible"
  nzWrapClassName="vertical-center-modal policy-modal"
  nzTitle="Success"
  [nzWidth]="800"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>

<div class="policy-wrapper">
  <div class="policy-row">
    <div class="policy-col">
      <img src="../../../assets/images/user.png" class="policy__image" alt="" />
    </div>
    </div>
    </div>

</nz-modal>
