<main class="plan bg-blue-light plan-form shop">
  <section class="section p-0">
    <div class="shop-container">
      <div class="shop__col">
        <img
          [src]="(extraInfo$ | async)?.images?.form"
          class="shop__image"
          alt="aiico"
        />
        <div class="shop__header">
          <h3
            class="heading shop__title"
            *ngIf="
              !utilityService.isObjectEmpty(selectedPlan$ | async) &&
              (planCategory$ | async) !== 'travel'
            "
          >
            {{ (selectedPlan$ | async)?.subClassCoverTypes?.productName }}
            <br />
            ({{ (selectedPlan$ | async)?.subClassCoverTypes?.description }}
            <span
              *ngIf="
                (selectedPlan$ | async)?.subClassCoverTypes?.productName ==
                'Private Motor Comprehensive'
              "
            >
              {{ (selectedPlan$ | async)?.subClassCoverTypes?.rate }}%
              /YR)</span
            >
            <span
              *ngIf="
                (selectedPlan$ | async)?.subClassCoverTypes?.productName !==
                  'Private Motor Comprehensive' &&
                (planCategory$ | async) !== 'travel'
              "
            >
              {{
                (selectedPlan$ | async)?.subClassCoverTypes?.rate
                  | currency: "NGN":"symbol-narrow":"0.2-2"
              }}) /YR</span
            >
          </h3>

          <h3
            class="heading shop__title"
            *ngIf="(planCategory$ | async) == 'travel'"
          >
            Travel Insurance
          </h3>
        </div>
      </div>

      <div class="shop__col">
        <div class="form-wrapper">
          <div class="mb-5">
            <nz-steps
              [nzCurrent]="current$ | async"
              nzLabelPlacement="vertical"
            >
              <nz-step
                class="pointer"
                (click)="goto(0)"
                nzTitle="Personal"
              ></nz-step>
              <nz-step
                class="pointer"
                (click)="goto(1)"
                *ngIf="
                  (selectedPlan$ | async)?.subClassCoverTypes ||
                  (planCategory$ | async)
                "
                nzTitle="{{ caption }}"
              ></nz-step>
              <!--planCategory$ -->
              <nz-step
                class="pointer"
                (click)="goto(2)"
                nzTitle="Upload"
              ></nz-step>
              <nz-step (click)="goto(3)" nzTitle="Confirm"></nz-step>
              <nz-step (click)="goto(4)" nzTitle="Payment"></nz-step>
            </nz-steps>
          </div>

          <form nz-form class="bg-white w-100 p-5">
            <div class="row">
              <div class="col-md-12">
                <h3
                  *ngIf="(current$ | async) === 0"
                  class="heading heading--secondary plan-form__title"
                >
                  Personal Details
                </h3>

                <div *ngIf="(current$ | async) === 1">
                  <h3
                    *ngIf="(planCategory$ | async) === 'auto'"
                    class="heading heading--secondary plan-form__title"
                  >
                    Vehicle Details
                  </h3>

                  <h3
                    *ngIf="(planCategory$ | async) === 'travel'"
                    class="heading heading--secondary plan-form__title"
                  >
                    Travel Details
                  </h3>

                  <h3
                    *ngIf="(planCategory$ | async) === 'casualty'"
                    class="heading heading--secondary plan-form__title"
                  >
                    Accident Details
                  </h3>

                  <h3
                    *ngIf="(planCategory$ | async) === 'content'"
                    class="heading heading--secondary plan-form__title"
                  >
                    Property Details
                  </h3>
                </div>

                <h3
                  *ngIf="(current$ | async) === 2"
                  class="heading heading--secondary plan-form__title"
                >
                  Upload Your Documents
                </h3>
              </div>
            </div>

            <div
              class="col-md-12 mb-4 mt-4 p-0"
              *ngIf="(formErrors$ | async).length"
            >
              <nz-alert
                nzType="error"
                [nzMessage]="formErrors$.value[0]"
              ></nz-alert>
            </div>

            <div class="row" *ngIf="(current$ | async) === 0">
              <div
                class="col-md-6"
                *ngIf="
                  (planCategory$ | async) !== 'auto' &&
                  (planCategory$ | async) !== 'travel'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Title*</nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      name="title"
                      [(ngModel)]="insurance.title"
                      [ngClass]="{ invalid: isInputValid('title') }"
                      [nzSize]="'large'"
                      (ngModelChange)="setTitle($event)"
                    >
                      <nz-option
                        *ngFor="let title of titles"
                        nzValue="{{ title.name }}"
                        nzLabel="{{ title.name }}"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                class="col-md-6"
                *ngIf="
                  (planCategory$ | async) !== 'auto' &&
                  (planCategory$ | async) !== 'travel'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >First Name*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      [(ngModel)]="insurance.firstName"
                      name="firstName"
                      nz-input
                      [ngClass]="{ invalid: isInputValid('first name') }"
                      [nzSize]="'large'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                class="col-md-6"
                *ngIf="
                  (planCategory$ | async) !== 'auto' &&
                  (planCategory$ | async) !== 'travel'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Surname*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      [(ngModel)]="insurance.lastName"
                      name="surname"
                      nz-input
                      [ngClass]="{ invalid: isInputValid('surname') }"
                      [nzSize]="'large'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Gender*</nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      name="title"
                      [(ngModel)]="insurance.gender"
                      name="gender"
                      [ngClass]="{ invalid: isInputValid('gender') }"
                      [nzSize]="'large'"
                      (ngModelChange)="setGender($event)"
                    >
                      <nz-option
                        *ngFor="let gen of genders"
                        nzValue="{{ gen.name }}"
                        nzLabel="{{ gen.name }}"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                class="col-md-6"
                *ngIf="(planCategory$ | async) !== 'travel'"
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Date of Birth*</nz-form-label
                  >
                  <nz-form-control>
                    <nz-date-picker
                    [nzDisabledDate]="disabledDOB"
                      [(ngModel)]="insurance.dateOfBirth"
                      class="w-100"
                      name="date"
                      [nzSize]="'large'"
                      [nzClassName]="'w-100'"
                      [ngClass]="{ invalid: isInputValid('date of birth') }"
                      [nzFormat]="yyyy - MM - DD"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Email Address*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      nz-input
                      [(ngModel)]="insurance.pryEmail"
                      name="email"
                      [ngClass]="{ invalid: isInputValid('email') }"
                      [nzSize]="'large'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Phone Number*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      nz-input
                      [(ngModel)]="insurance.smsTel"
                      name="phone"
                      [ngClass]="{ invalid: isInputValid('phone') }"
                      [nzSize]="'large'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6" *ngIf="(planCategory$ | async) === 'auto'">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Drivers' License Number*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      [(ngModel)]="insurance.dlNo"
                      name="dlNo"
                      nz-input
                      [ngClass]="{ invalid: isInputValid('license number') }"
                      [nzSize]="'large'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6" *ngIf="(planCategory$ | async) === 'auto'">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Years of Driving*</nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      name="title"
                      [(ngModel)]="insurance.yearsOfDrvExperience"
                      name="yearsOfDrvExperience"
                      [ngClass]="{
                        invalid: isInputValid('years of experience')
                      }"
                    >
                      <nz-option
                        *ngFor="let year of yearsOfDriving"
                        nzValue="{{ year }}"
                        nzLabel="{{ year }}"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6" *ngIf="(planCategory$ | async) === 'auto'">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Drivers' License Expiry Date*</nz-form-label
                  >
                  <nz-form-control>
                    <nz-date-picker
                    [nzDisabledDate]="disabledDate"
                      [(ngModel)]="insurance.dlIssueDate"
                      class="w-100"
                      [nzClassName]="'w-100'"
                      name="date"
                      [nzSize]="'large'"
                      [ngClass]="{ invalid: isInputValid('expiry date') }"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6" *ngIf="(planCategory$ | async) == 'travel'">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Passport Number*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      [(ngModel)]="insurance.passportNumber"
                      name="travel"
                      nz-input
                      [nzSize]="'large'"
                      [ngClass]="{ invalid: isInputValid('travel') }"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                class="col-md-6"
                *ngIf="
                  (selectedPlan$ | async)?.subClassCoverTypes?.productName ==
                  'Shop Content Insurance'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Nature of Business*</nz-form-label
                  >
                  <nz-form-control>
                    <input
                      [(ngModel)]="insurance.natureOfBusiness"
                      name="natureOfBusiness"
                      nz-input
                      [ngClass]="{
                        invalid: isInputValid('nature of Business')
                      }"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                class="col-md-12"
                *ngIf="
                  (selectedPlan$ | async)?.subClassCoverTypes?.subClassName !==
                  'Personal Accident'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Address*</nz-form-label
                  >
                  <nz-form-control>
                    <textarea
                      nz-input
                      rows="5"
                      name="address"
                      [(ngModel)]="insurance.address"
                      [ngClass]="{ invalid: isInputValid('address') }"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                class="col-md-12"
                *ngIf="
                  (selectedPlan$ | async)?.subClassCoverTypes?.subClassName ==
                  'Personal Accident'
                "
              >
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24"
                    >Address*</nz-form-label
                  >
                  <nz-form-control>
                    <textarea
                      nz-input
                      rows="5"
                      name="address"
                      [(ngModel)]="insurance.physicalAddrs"
                      [ngClass]="{ invalid: isInputValid('address') }"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div *ngIf="(current$ | async) === 1">
              <app-auto
                [(insurance)]="insurance"
                [formErrors]="formErrors$ | async"
                *ngIf="(planCategory$ | async) === 'auto'"
              ></app-auto>

              <app-travel
                [(insurance)]="insurance"
                [formErrors]="formErrors$ | async"
                *ngIf="(planCategory$ | async) === 'travel'"
              ></app-travel>

              <app-home
                [(insurance)]="insurance"
                [formErrors]="formErrors$ | async"
                *ngIf="(planCategory$ | async) === 'content'"
              ></app-home>

              <app-health
                [(insurance)]="insurance"
                [formErrors]="formErrors$ | async"
                *ngIf="(planCategory$ | async) === 'casualty'"
              ></app-health>
            </div>

            <div class="row" *ngIf="(current$ | async) === 2">
              <div class="col-md-12">
                <p class="plan-form__desc">
                  NOTE: Kindly scan and attach jpeg/png of your valid means of
                  ID and Vehicle License!!! *Each document/image should not be
                  more than 2MB in size
                </p>

                <h3
                  class="heading color-dark"
                  *ngIf="(planCategory$ | async) === 'auto'"
                >
                  Attach: Valid means of ID and Vehicle License
                </h3>
                <h3
                  class="heading color-dark"
                  *ngIf="
                    (planCategory$ | async) === 'content' ||
                    (planCategory$ | async) === 'casualty' ||
                    (selectedPlan$ | async)?.subClassCoverTypes?.productName ==
                      'Shop Content Insurance'
                  "
                >
                  Attach: Valid means of ID and Utility Bill
                </h3>

                <div
                  class="row mb-4 align-items-center"
                  *ngIf="(planCategory$ | async) == 'auto'"
                >
                  <div class="col-md-5 col-lg-5 col-xl-4">
                    <div class="plan-form__button-wrapper">
                      <button class="plan-form__button cyan">
                        <i class="fas fa-cloud-upload-alt"></i> Driver's license
                      </button>

                      <input
                        type="file"
                        name="image"
                        (change)="handleChange($event, 'id')"
                        accept="image/x-png, image/jpeg"
                      />
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-xl-8">
                    <p class="paragraph plan-form__upload-details">
                      {{ attachedFilesNames.id }}
                    </p>
                  </div>
                </div>

                <div
                  class="row mb-4 align-items-center"
                  *ngIf="(planCategory$ | async) == 'auto'"
                >
                  <div class="col-md-5 col-lg-5 col-xl-4">
                    <div class="plan-form__button-wrapper">
                      <button class="plan-form__button blue">
                        <i class="fas fa-cloud-upload-alt"></i> vehicle license
                      </button>

                      <input
                        type="file"
                        name="image"
                        (change)="handleChange($event, 'license')"
                        accept="image/x-png,image/jpeg"
                      />
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-xl-8">
                    <p class="paragraph plan-form__upload-details">
                      {{ attachedFilesNames.license }}
                    </p>
                  </div>
                </div>

                <div
                  class="row mb-4 align-items-center"
                  *ngIf="
                    (planCategory$ | async) == 'auto' ||
                    (planCategory$ | async) === 'content' ||
                    (planCategory$ | async) === 'casualty' ||
                    (selectedPlan$ | async)?.subClassCoverTypes?.productName ==
                      'Shop Content Insurance'
                  "
                >
                  <div class="col-md-5 col-lg-5 col-xl-4">
                    <div class="plan-form__button-wrapper">
                      <button class="plan-form__button red">
                        <i class="fas fa-cloud-upload-alt"></i> Utility bill
                      </button>

                      <input
                        type="file"
                        name="image"
                        (change)="handleChange($event, 'bill')"
                        accept="image/x-png, image/jpeg"
                      />
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-xl-8">
                    <p class="paragraph plan-form__upload-details">
                      {{ attachedFilesNames.bill }}
                    </p>
                  </div>
                </div>

                <div
                  class="row mb-4 align-items-center"
                  *ngIf="(planCategory$ | async) == 'travel'"
                >
                  <div class="col-md-5 col-lg-5 col-xl-4">
                    <div class="plan-form__button-wrapper">
                      <button class="plan-form__button red">
                        <i class="fas fa-cloud-upload-alt"></i> International
                        Passport
                      </button>

                      <input
                        type="file"
                        name="image"
                        (change)="handleChange($event, 'passport')"
                        accept="image/x-png, image/jpeg"
                      />
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-xl-8">
                    <p class="paragraph plan-form__upload-details">
                      {{ attachedFilesNames.passport }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-end mt-5">
              <div class="col-lg-4" *ngIf="(current$ | async) === 1">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="decreaseCurrentNumber()"
                      class="btn btn--blue w-100"
                    >
                      Previous
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-lg-4" *ngIf="(current$ | async) < 2">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="increaseCurrentNumber()"
                      class="btn btn--blue btn--blue-dark w-100"
                      [disabled]="
                        (planCategory$ | async) == 'content' &&
                        utilService.confirmDetails == false &&
                        (current$ | async) == 1
                      "
                    >
                      {{ buttonText$ | async }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-lg-8 col-xl-6" *ngIf="(current$ | async) > 1">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="increaseCurrentNumber()"
                      class="btn btn--blue btn--blue-dark w-100"
                      [disabled]="(current$ | async) == 2 && !validateUploads()"
                    >
                      {{ buttonText$ | async }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<app-error-handler
  [showError]="error$ | async"
  [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"
></app-error-handler>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
