<section class="section section__clients">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6">
        <h3 class="heading heading--secondary">Trusted by leading brands</h3>
        <div class="paragraph">
          Whether you need a place to meet your clients or teammates, a late-night hack spot, or just some heads down
        </div>
      </div>
    </div>

    <div>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="client">
            <img src="./assets/images/clients/{{ slide.img }}" alt="client" class="img-fluid" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
