<div class="plan-cards">
  <div class="row justify-content-center">
    <div class="plan-card" *ngFor="let plan of planData | async">
      <div>
        <img src="{{ plan.image }}" class="plan-card__image" alt="" />
        <div class="plan-card__body">
          <p class="plan-card__title">{{ plan.name }}</p>
          <p class="plan-card__desc">{{ plan.desc }}</p>
        </div>
      </div>

      <a href="javascript:void(0);" [routerLink]="['/plan/packages', plan.id]" class="plan-card__button">BUY PLAN ></a>
    </div>
  </div>
</div>
