<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle=""
  nzWrapClassName="vertical-center-modal"
  (nzOnCancel)="handleCancel()"
>
  <div class="container-fluid">
    <h3 class="heading heading--secondary text-center">
      Transaction Details
    </h3>

    <div class="transaction-details">
      <div
        class="transaction__icon"
        *ngIf="transactionStatus"
        [ngClass]="{
          fail: transactionStatus && transactionStatus.includes('Fail')
        }"
      >
        <i
          class="far fa-times-circle"
          *ngIf="
            transactionStatus && transactionStatus.includes('Fail');
            else elseBlock
          "
        ></i>

        <ng-template #elseBlock
          ><i class="far fa-check-circle"></i
        ></ng-template>
      </div>

      <p class="paragraph transaction__status">{{ transactionStatus }}!!!</p>

      <p class="paragraph transaction__description">
        {{ transactionDescription }}
      </p>

      <div class="transaction__table mt-4">
        <nz-table #transactionTable [nzTemplateMode]="true">
          <tbody>
            <tr>
              <td>Policy No.</td>
              <td>{{ joinArr(transactionData.policies) }}</td>
            </tr>

            <tr>
              <td>Product Type</td>
              <td>{{ transactionData.productType || "N/A" }}</td>
            </tr>

            <tr>
              <td>Payment Channel</td>
              <td>Flutterwave</td>
            </tr>

            <tr>
              <td>Amount Paid</td>
              <td>{{ transactionData.amount || "N/A" }}</td>
            </tr>

            <tr>
              <td>Transaction Reference</td>
              <td>{{ transactionData.txnref || "N/A" }}</td>
            </tr>

            <tr>
              <td>Payment Reference</td>
              <td>
                {{ transactionData.paymentReference || "N/A" }}
              </td>
            </tr>

            <tr>
              <td>Gateway Response</td>
              <td>
                {{ transactionData.gatewayResponse || "N/A" }}
              </td>
            </tr>

            <tr>
              <td>Card Number</td>
              <td>{{ transactionData.cardNumber || "N/A" }}</td>
            </tr>

            <tr>
              <td>Effective Date</td>
              <td>{{ transactionData.wef || "N/A" }}</td>
            </tr>

            <tr>
              <td>Expiration Date</td>
              <td>{{ transactionData.wet || "N/A" }}</td>
            </tr>

            <tr>
              <td>Certificate</td>
              <td>
                <a
                  [href]="transactionData.printPolicyUrl"
                  *ngIf="transactionData.printPolicyUrl; else elseCertificate"
                  class="color-red"
                  >Click this link to print/download your certificate</a
                >

                <ng-template #elseCertificate>
                  N/A
                </ng-template>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <a href="/" class="btn btn--blue btn--blue-dark mt-5">Go Home</a>
    </div>
  </div>
</nz-modal>
