<footer class="footer">
  <!-- <div class="footer__navbar">
    <div class="container">
      <div class="row accordion" id="footerNavbarAccordion">
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#servicesCollapse"
            aria-expanded="false"
            aria-controls="servicesCollapse"
            id="servicesHeading"
          >
            <h4 class="footer__nav-section__head__title">Services</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="servicesCollapse"
            aria-labelledby="servicesHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Corporate Plans</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Personal / Individual</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Auto Insurance</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Life Plan</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Home Insurance</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#aboutCollapse"
            aria-expanded="false"
            aria-controls="aboutCollapse"
            id="aboutHeading"
          >
            <h4 class="footer__nav-section__head__title">About AIICO</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="aboutCollapse"
            aria-labelledby="aboutHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Overview</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">About us</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Leadership</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Media</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">Press release</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#investorCollapse"
            aria-expanded="false"
            aria-controls="investorCollapse"
            id="investorHeading"
          >
            <h4 class="footer__nav-section__head__title">Investor Relation</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="investorCollapse"
            aria-labelledby="investorHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">financial reports</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">why invest?</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">annual reports</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">investor news</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#careerCollapse"
            aria-expanded="false"
            aria-controls="careerCollapse"
            id="careerHeading"
          >
            <h4 class="footer__nav-section__head__title">Career</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="careerCollapse"
            aria-labelledby="careerHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">apply now</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">our culture</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">leadership</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">enterpreneuship</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">vacancy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#quickLinksCollapse"
            aria-expanded="false"
            aria-controls="quickLinksCollapse"
            id="quickLinksHeading"
          >
            <h4 class="footer__nav-section__head__title">Quick Links</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="quickLinksCollapse"
            aria-labelledby="quickLinksHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">refer a friend</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">whistle blower</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">claims payment</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">business locations</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">financial reports</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer__nav-section">
          <div
            class="footer__nav-section__head"
            data-toggle=""
            data-target="#helpCollapse"
            aria-expanded="false"
            aria-controls="helpCollapse"
            id="helpHeading"
          >
            <h4 class="footer__nav-section__head__title">Help Service</h4>
            <i class="fas fa-chevron-down footer__nav-section__head__icon"></i>
          </div>
          <div
            class="footer__nav-section__collapse-wrapper"
            id="helpCollapse"
            aria-labelledby="helpHeading"
            data-parent="#footerNavbarAccordion"
          >
            <ul class="footer__nav">
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">contact us</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">update your information</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">complaints management</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">form download</a>
              </li>
              <li class="footer__nav-item">
                <a href="#" class="footer__nav-link">customer feedback form</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer__extra-info">
    <div class="container">
      <div class="row">
        <div class="col-md-3 logo-section">
          <img src="../../../assets/images/logo.svg" class="logo" />
        </div>
        <div class="col-md-3 address-section">
          <p class="address">Plot PC 12, Churchgate Street, <br />Victoria Island, Lagos.</p>
        </div>
        <div class="col-md-3 contact-section">
          <a href="#" class="contact-link">01 279 2930</a>
          <a href="#" class="contact-link">0700 AIIContact</a>
          <a href="#" class="contact-link">0700 2442 6682 28</a>
        </div>
        <div class="col-md-3 contact-section">
          <a href="#" class="contact-link">aiicontact@aiicoplc.com</a>
          <div class="social-links">
            <a href="#" target="_blank" class="link">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank" class="link">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank" class="link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank" class="link">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="copyright">
        <span>&copy; 2019 AIICO PLC. All rights reserved.</span>
      </div>
      <div class="extra-links">
        <a href="#" class="link">Privacy Policy</a>
        <a href="#" class="link">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
