@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

// icomoon
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon/icomoon.eot?aqzy8e");
  src: url("assets/fonts/icomoon/icomoon.eot?aqzy8e#iefix") format("embedded-opentype"),
    url("assets/fonts/icomoon/icomoon.ttf?aqzy8e") format("truetype"),
    url("assets/fonts/icomoon/icomoon.woff?aqzy8e") format("woff"),
    url("assets/fonts/icomoon/icomoon.svg?aqzy8e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
