.heading {
  color: color(blue);
  display: block;
  @include font-weight(semi-bold);
  margin-bottom: 2rem;

  &--black {
    @include respond(small) {
      @include font-size(large);
      line-height: 3.5rem;
    }

    @include font-size(m-large);
    margin-bottom: 1rem;
    line-height: 5rem;
    color: rgba($color: #000000, $alpha: 0.85);
  }

  &--primary {
    @include respond(small) {
      @include font-size(large);
      line-height: 3.5rem;
    }

    color: color(primary);
    font-size: 4rem;
    line-height: 5rem;
  }

  &--secondary {
    @include respond(small) {
      @include font-size(large);
      line-height: 3.5rem;
    }

    @include font-size(m-large);
  }
}

.paragraph {
  @include respond(small) {
    @include font-size(small);
  }

  @include font-size(small);
  color: color(dark);
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
