<main class="plan bg-blue-light plan-form shop">
  <section class="section p-0">
    <div class="shop-container">
      <div class="shop__col">
        <img [src]="(extraInfo$ | async)?.images?.form" class="shop__image" alt="aiico" />
        <div class="shop__header">
          <h3 class="heading shop__title">
            Client Profiling
          </h3>
        </div>
      </div>

      <div class="shop__col">
        <div class="form-wrapper pt-0">
          <form nz-form class="bg-white w-100 p-5">
            <div class="row">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Client Details
                </h3>

              </div>
            </div>

            <div class="row">
                <nz-tabset class="col-12">
                    <nz-tab (nzSelect)="onTabChange(i)" nzTitle={{i+1}} *ngFor="let profile of renewalService.profile; let i = index">


<div class="row">
              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Pol Number</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span>{{profile?.policyNumber}}</span>
              </div>

              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Product</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span>{{profile?.productDescription}}</span>
              </div>

              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Client Name</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span> {{profile?.clientName}}</span>
              </div>

              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Phone</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span> {{profile?.phone}}</span>
              </div>

              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Email</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span>{{profile?.email}}</span>
              </div>


              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-control>
                    <span>Status</span>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div class="col-md-9 heading">
                <span class="status">{{profile?.policyStatus}}</span>
              </div>
            </div>
            </nz-tab>
          </nz-tabset>
            </div>

            <span class="font-sm">Profile With This Email</span>
            <nz-input-group nzCompact>
              <nz-select *ngIf="renewalService.profile" [(ngModel)]="renewalService.profile.email" name="email" class="inp-group" style="width: 30%">

                <nz-option *ngFor="let email of renewalService.profile?.emails" nzLabel={{email}} nzValue={{email}}></nz-option>
              </nz-select>
              <button nz-button nzType="primary" style="padding: 1rem 3rem;" (click)="postClientProfiling()" class="btn btn--blue btn--blue-dark">
                Profile Me Now
              </button>
            </nz-input-group>


          </form>
        </div>
      </div>
    </div>
  </section>

  <nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <div class="mb-5 text-center">
      <img src="../../../assets/images/check-mark.png" />
      <h3 class="heading plan-form__title pt-5">
        Client Profile Successful!
      </h3>
      <div>Kindly Check Your Email For Details</div>
    </div>
  </nz-modal>
</main>

<app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"></app-error-handler>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
