<app-nav> </app-nav>
<main class="errorpage">
  <section class="section hero pt-0">
    <div class="container h-100">
      <div class="errorpage-wrapper">
        <div class="errorpage__image">
          <img src="../../../assets/images/svg/404.svg" class="img-fluid" />
        </div>

        <h1 class="errorpage__title">404</h1>

        <p class="paragraph errorpage__text">
          Oops! Sorry We Couldnt find the page you were looking for. <br />Please return our
          <a href="/" class="link">homepage</a>
        </p>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
