.footer {
  padding-top: 8rem;

  &__navbar {
    margin-bottom: 5rem;
  }

  &__nav-section {
    &__head {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding: 0;
      transition: all 300ms ease;

      @include respond(medium) {
        &.collapsed {
          border-bottom: 1px solid color(blue);
          padding-bottom: 2rem;
        }
      }

      &.collapsed {
        .footer__nav-section__head__icon {
          transform: rotate(0deg) !important;
        }
      }

      &__title {
        color: color(blue);
        font-size: 1.4rem;
        letter-spacing: 0.05rem;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      &__icon {
        color: color(blue);
        display: none !important;
        transform: rotate(-180deg) !important;
        transition: transform 300ms ease;

        @include respond(medium) {
          display: inline-block !important;
        }
      }
    }
  }

  &__nav {
    list-style: none;

    @include respond(medium) {
      margin-bottom: 3rem;
    }
  }

  &__nav-item {
    padding: 0;

    &:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }

  &__nav-link {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 300ms ease;

    &:hover {
      color: color(blue);
    }
  }

  &__extra-info {
    color: color(blue);
    margin-bottom: 5rem;

    .logo-section {
      .logo {
        width: 15rem;
      }
    }

    .address-section {
      .address {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }

    .contact-section {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }

    .contact-link {
      font-size: 1.4rem;
      text-decoration: none;

      &:hover {
        color: color(blue);
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .social-links {
      display: flex;

      .link {
        align-items: center;
        background-color: color(blue);
        border-radius: 100%;
        color: color(white);
        display: flex;
        height: 1rem;
        justify-content: center;
        padding: 1.4rem;
        text-decoration: none;
        transition: all 300ms ease;
        width: 1.4rem;

        &:not(:last-of-type) {
          margin-right: 1.2rem;
        }

        i {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__bottom {
    background-color: color(blue);
    color: color(white);
    font-size: 1.2rem;
    padding: 1.2rem 0;

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .link {
      display: inline-block;
      text-decoration: none;
      transition: all 300ms ease;

      &:not(:last-of-type) {
        margin-right: 1.2rem;
      }

      &:hover {
        color: color(white);
      }
    }
  }
}
