$colors: (
  black: #000,
  blue: #003896,
  blue-bg: #e8efff,
  blue-dark: #2150b7,
  blue-light: #f0f6fd,
  blue-sky: #4c82dc,
  dark: #444444,
  cyan: #3a95ff,
  light-grey: rgba(42, 42, 42, 0.355327),
  green: #1b9710,
  grey: #4a4a4a,
  primary: #ef3333,
  red: #ee3232,
  white: #ffffff
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  black: 900
);

$font-sizes: (
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  m-large: 30px,
  x-large: 48px,
  xx-large: 60px
);

$main-font: "Poppins", sans-serif;

$box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
  rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
