<div class="card" (click)="redirect(product)">
  <div class="card__image" [style.background-image]="sanitizeImage(product.image)"></div>
  <div class="card__content">
    <p class="card__title">{{ product.name }}</p>
    <p class="card__text">{{ product.desc }}</p>
  </div>
</div>
