<div class="row" *ngIf="plan !== 'Shop'">
  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Ownership of Building*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.preOwnership"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="owner" nzLabel="Owner"></nz-option>
          <nz-option nzValue="tenant" nzLabel="Tenant"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Location of {{ plan }}*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.lgaId"
          name="location"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('location') }"
        >
          <nz-option nzValue="{{ lg.id }}" nzLabel="{{ lg.name }}" *ngFor="let lg of localGovtAreas"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Tenancy Type*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.tenancy"
          name="tenancy"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('tenancy type') }"
        >
          <nz-option nzValue="Multi-tenanted" nzLabel="Multi-tenanted"></nz-option>
          <nz-option nzValue="Sole occupier" nzLabel="Sole occupier"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Cover Duration?*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.coverDuration"
          name="duration"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('cover duration') }"
        >
          <nz-option nzValue="N10,000/annum" nzLabel="N10,000/annum"></nz-option>
          <nz-option nzValue="N5,000/half yearly" nzLabel="N5,000/half yearly"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Start Date*</nz-form-label>
      <nz-form-control>
        <nz-date-picker
        [nzDisabledDate]="disabledDate"
          [(ngModel)]="insurance.wef"
          [nzClassName]="'w-100'"
          class="w-100"
          name="startDate"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('start date') }"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Postal Address*</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          [(ngModel)]="insurance.postalAddress"
          name="postal"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('postal address') }"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15"> {{ plan }} Description</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          rows="5"
          [(ngModel)]="insurance.description"
          name="desc"
          [ngClass]="{ invalid: isInputValid('description') }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">{{ plan }} Address</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          rows="5"
          [(ngModel)]="insurance.physicalAddrs"
          name="address"
          [ngClass]="{ invalid: isInputValid('address') }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
      <form [formGroup]="homeForm">

    <nz-tabset>
      <nz-tab nzTitle="Items to Insure">
        <span *ngFor="let item of formData.controls; let i = index" formArrayName="items">
<span class="row" [formGroupName]="i">
        <div class="col-md-6">
          <nz-form-item>
            <!-- <nz-form-label class="form__label" [nzSpan]="15"></nz-form-label> -->
            <nz-form-control>
              <input
              formControlName="name"
              placeholder="Item Name"
                nz-input
                name="postal"
                [nzSize]="'large'"
                [ngClass]="{ invalid: isInputValid('postal address') }"
                (blur)="addNewItem()"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <!-- <nz-form-label class="form__label" [nzSpan]="15"> </nz-form-label> -->
            <nz-form-control>
              <input
              formControlName="amount"
              placeholder="Item Value (₦)"
                nz-input
                name="postal"
                [nzSize]="'large'"
                [ngClass]="{ invalid: isInputValid('postal address') }"
                (blur)="addNewItem()"
              />
            </nz-form-control>
          </nz-form-item>
          </div>
        </span>
        </span>
      <button nz-button nzType="primary" (click)="addNewField()" class="btn btn--blue">
          More Items
        </button>
      </nz-tab>
    </nz-tabset>
    </form>
</div>
</div>

<div class="row" *ngIf="plan == 'Shop'">
  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Type of Shop*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.typeOfShop"
          name="typeOfShop"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('typeOfShop') }"
        >
          <nz-option nzValue="Stand Alone" nzLabel="Stand Alone"></nz-option>
          <nz-option nzValue="Street Shop" nzLabel="Street Shop"></nz-option>
          <nz-option nzValue="Plaza" nzLabel="Plaza"></nz-option>
          <nz-option nzValue="Layout" nzLabel="Layout"></nz-option>
          <nz-option nzValue="Others" nzLabel="Others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">If Other Types of Shop, please specify</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.otherTypeOfShop" name="postal" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Nature Of Structure*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.natureOfStructure"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="Construction" nzLabel="Construction"></nz-option>
          <nz-option nzValue="Brick/Roofed tile" nzLabel="Brick/Roofed tile"></nz-option>
          <nz-option nzValue="Brick/thatched" nzLabel="Brick/thatched"></nz-option>
          <nz-option nzValue="Treatment" nzLabel="Treatment"></nz-option>
          <nz-option nzValue="Training" nzLabel="Training"></nz-option>
          <nz-option nzValue="Sports" nzLabel="Sports"></nz-option>
          <nz-option nzValue="Business" nzLabel="Business"></nz-option>
          <nz-option nzValue="Others" nzLabel="Others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">If Other Nature of Structure, please specify </nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.otherNatureOfStructure" name="postal" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Nature of Stock*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.natureOfStock"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="Perishable" nzLabel="Perishable"></nz-option>
          <nz-option nzValue="Non-Perishable" nzLabel="Non-Perishable"></nz-option>
          <nz-option nzValue="Household" nzLabel="Household"></nz-option>
          <nz-option nzValue="Clothing" nzLabel="Clothing"></nz-option>
          <nz-option nzValue="Provision" nzLabel="Provision"></nz-option>
          <nz-option nzValue="Others" nzLabel="Others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">If other Nature of Stock, please specify </nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.otherNatureOfStock" name="postal" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">How do you take stock?* </nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.stockTakingMode"
          name="stockTakingMode"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('stockTakingMode') }"
        >
          <nz-option nzValue="Daily" nzLabel="Daily"></nz-option>
          <nz-option nzValue="Weekly" nzLabel="Weekly"></nz-option>
          <nz-option nzValue="Monthly" nzLabel="Monthly"></nz-option>
          <nz-option nzValue="Quaterly" nzLabel="Quaterly"></nz-option>
          <nz-option nzValue="Annually" nzLabel="Annually"></nz-option>
          <nz-option nzValue="Others" nzLabel="Others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">If other, how do you take stock, please </nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.otherStockTakingMode" name="postal" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">Do you keep a proper set of stock book* </nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.keepsStockBook"
          name="keepsStockBook"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('keepsStockBook') }"
        >
          <nz-option nzValue="true" nzLabel="Yes"></nz-option>
          <nz-option nzValue="false" nzLabel="No"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">Do you keep such stock book in safe place* </nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.keepsStockBookInSafePlace"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="true" nzLabel="Yes"></nz-option>
          <nz-option nzValue="false" nzLabel="No"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Lga of Shop*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.lgaId"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="{{ lg.id }}" nzLabel="{{ lg.name }}" *ngFor="let lg of localGovtAreas"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Maximum Stock Value* </nz-form-label>
      <nz-form-control>
        <!-- <input
          nz-input
          [(ngModel)]="insurance.stockAmount"
          name="stockAmount"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('stockAmount') }"
        /> -->

        <input (change)="formatAmountToString(insurance.stockAmount, 'stock')"
        [ngClass]="{ invalid: isInputValid('stockAmount') }" class="w-100 input-control"
         [(ngModel)]="insurance.stockAmount" name="premium" />

      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Cover Duration*</nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="insurance.coverDuration"
          name="ownership"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('ownership') }"
        >
          <nz-option nzValue="N10,000/annum" nzLabel="N10,000/annum"></nz-option>
          <nz-option nzValue="N5,000/half yearly" nzLabel="N5,000/half yearly"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Start Date*</nz-form-label>
      <nz-form-control>
        <nz-date-picker
        [nzDisabledDate]="disabledDate"
          [(ngModel)]="insurance.wef"
          [nzClassName]="'w-100'"
          class="w-100"
          name="startDate"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('start date') }"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">{{ plan }} Address*</nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          rows="5"
          [(ngModel)]="insurance.physicalAddrs"
          name="address"
          [ngClass]="{ invalid: isInputValid('address') }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>


</div>

<div class="col-md-12 mt-5">
    <nz-form-item>
      <label nz-checkbox  [(ngModel)]="utilService.confirmDetails">
        <span
          >I declare that the above information is true and correct to the best of my knowledge, and shall form the
          basis of this contract. I understand that the cover is not effective until acceptance is confirmed and premium
          payable is received accordingly.</span
        >
      </label>
    </nz-form-item>
  </div>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<app-error-handler
  [showError]="error$ | async"
  [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"
></app-error-handler>
