<div class="errorModal" *ngIf="showError">
  <div class="errorModal__inner">
    <nz-result [nzStatus]="errorStatus" [nzTitle]="errorStatus" [nzSubTitle]="errorMessage">
      <div nz-result-extra>
        <div class="dflex align-items-center justify-content-center">
          <a href="#" routerLink="/" class="btn btn--secondary feature__btn mr-4">Back Home</a>
          <button class="btn btn--primary feature__btn ml-4" (click)="closeModal()" *ngIf="showCloseModal">
            Try Again
          </button>
        </div>
      </div>
    </nz-result>
  </div>
</div>
