<div class="row">
  <div class="col-md-4" *ngIf="selectedPlan?.subClassCoverTypes?.productName == 'Private Motor Comprehensive'">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Vehicle Amount*</nz-form-label>
      <nz-form-control>
        <nz-input-number
          [nzPlaceHolder]="'Minimum of 1,000,000'"
          [nzSize]="'large'"
          [(ngModel)]="insurance.vehicleAmount"
          [nzStep]="1"
          class="w-100"
          name="amount"
          nz-input
          (nzBlur)="computeComprehensivePremium()"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('vehicle amount') }"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Number Plate*</nz-form-label>
      <nz-form-control>
        <input [disabled]="true"
          (blur)="getVehicleDetails()"
          nz-input
          [(ngModel)]="insurance.regNo"
          name="regNo"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('plate') }"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Engine Number*</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          [(ngModel)]="insurance.engineNo"
          name="engineNo"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('engine') }"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Chasis Number*</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          name="chasis"
          [(ngModel)]="insurance.chasisNo"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('chasis') }"
        >
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
      <nz-form-item>
        <nz-form-label class="form__label" [nzSpan]="24">Body Type*</nz-form-label>
        <nz-form-control>
          <nz-select [disabled]="true"
            name="title"
            [(ngModel)]="insurance.bodyType"
            name="bodyType"
            [nzSize]="'large'"
            [ngClass]="{ invalid: isInputValid('body type') }"
            (ngModelChange)="computeThirdPartyPremium()"
          >
            <nz-option nzValue="{{ bt }}" nzLabel="{{ bt }}" *ngFor="let bt of bodyTypes"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">With effect from*</nz-form-label>
      <nz-form-control>
        <nz-date-picker
        [nzDisabledDate]="disabledDate"
          [(ngModel)]="insurance.wefDt"
          class="w-100"
          [nzClassName]="'w-100'"
          name="wefdt"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('start date') }"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Year*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="yearmft"
          [(ngModel)]="insurance.yrManft"
          (ngModelChange)="selectYear($event)"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('year') }"
        >
          <nz-option nzValue="{{ year }}" nzLabel="{{ year }}" *ngFor="let year of yearsOfManu"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Make*</nz-form-label>
      <nz-form-control>
        <nz-select
          [disabled]="loadingMake$ | async"
          name="make"
          [(ngModel)]="insurance.make"
          (ngModelChange)="selectMake($event)"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('make') }"
        >
          <nz-option nzValue="{{ make }}" nzLabel="{{ make }}" *ngFor="let make of vehicleMakeList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Model*</nz-form-label>
      <nz-form-control>
        <nz-select
          [disabled]="loadingModel$ | async"
          name="model"
          [(ngModel)]="insurance.model"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('model') }"
        >
          <nz-option nzValue="{{ model }}" nzLabel="{{ model }}" *ngFor="let model of vehicleModelList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Color*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="color"
          [(ngModel)]="insurance.color"
          [disabled]="loadingVehicleDetails"
          [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('color') }"
        >
          <nz-option nzValue="{{ col }}" nzLabel="{{ col }}" *ngFor="let col of colorList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<app-error-handler
  [showError]="error$ | async"
  [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"
></app-error-handler>
