<header></header>
<main class="login">
  <section class="section login-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="login__header">
            <h5 class="login__title">Hello there! </h5>
            <p class="paragraph login__desc">
              Login to get started
            </p>
          </div>

          <div class="login-row">
            <div class="login-col">
              <img src="../../../assets/images/login-image.png" alt="login" class="login__image" />
              <div class="login--overlay">
                <p class="login__quote">
                  If a child, a spouse, a life partner, or a parent depends on you and your income, you need life
                  insurance.

                </p>
                <p class="login__quote">-Suze Orman</p>
              </div>
            </div>
            <div class="login-col">
              <div class="login-form">
                <h3 class="login__title">Login</h3>
                <p class="paragraph login__desc">
                  Simply put in your details and hit the login button.
                </p>
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzHasFeedback nzValidatingTip="Validating..."
                      [nzErrorTip]="userErrorTpl">
                      <nz-input-group>
                        <input nz-input formControlName="userName" class="form__input" placeholder="Username / Email" />
                      </nz-input-group>

                      <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your username!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                          The username is redundant!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                      <nz-input-group>
                        <input nz-input type="password" formControlName="password" class="form__input"
                          placeholder="password" />
                      </nz-input-group>

                      <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                          Please input your password!
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <label nz-checkbox formControlName="remember">
                      <span>Remember me</span>
                    </label>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control [nzSpan]="24" class="text-center">
                      <button nz-button nzType="primary" class="btn btn--blue w-100" [disabled]="!validateForm.valid">
                        Login
                      </button>
                    </nz-form-control>
                  </nz-form-item>

                  <div>
                    <p class="forgot-password">Forgot your password?</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer></footer>
