<div class="row">
  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Occupation*</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.occupation" name="occupation" [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('occupation') }" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Accident Rates*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.accidentRate" [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('accident rate') }">
          <nz-option nzValue="{{ rate.name }}" nzLabel="{{ rate.name }}" *ngFor="let rate of accidentRates"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Units*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.unit" [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('unit') }">
          <nz-option nzValue=1 nzLabel="Unit 1"></nz-option>
          <nz-option nzValue=2 nzLabel="Unit 2"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Premium / unit*</nz-form-label>
      <nz-form-control>
        <!-- <input nz-input  [nzSize]="'large'"
           /> -->

        <input (change)="formatAmountToString(insurance.premiumAmount)"
          [ngClass]="{ invalid: isInputValid('premium amount') }" class="w-100 input-control" nzSize="large"
          [(ngModel)]="insurance.premiumAmount" name="premium" />

      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Name of Beneficiary*</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.beneficiary" name="nokname" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Relationship*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.relationship" [nzSize]="'large'">
          <nz-option nzValue="Wife" nzLabel="Wife"></nz-option>
          <nz-option nzValue="Brother" nzLabel="Brother"></nz-option>
          <nz-option nzValue="Sister" nzLabel="Sister"></nz-option>
          <nz-option nzValue="Pastor" nzLabel="Pastor"></nz-option>
          <nz-option nzValue="Husband" nzLabel="Husband"></nz-option>
          <nz-option nzValue="Aunt" nzLabel="Aunt"></nz-option>
          <nz-option nzValue="Uncle" nzLabel="Uncle"></nz-option>
          <nz-option nzValue="Spouse" nzLabel="Spouse"></nz-option>
          <nz-option nzValue="Child" nzLabel="Child"></nz-option>
          <nz-option nzValue="Parent" nzLabel="Parent"></nz-option>
          <nz-option nzValue="Sibling" nzLabel="Sibling"></nz-option>
          <nz-option nzValue="Grandchild" nzLabel="Grandchild"></nz-option>
          <nz-option nzValue="Grandparent" nzLabel="Grandparent"></nz-option>
          <nz-option nzValue="Niece" nzLabel="Niece"></nz-option>
          <nz-option nzValue="Nephew" nzLabel="Nephew"></nz-option>
          <nz-option nzValue="First Cousin" nzLabel="First Cousin"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Full Year Cover Duration*</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="insurance.isFullYear" name="duration" [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('cover') }">
          <nz-option nzValue=true nzLabel="Yes"></nz-option>
          <nz-option nzValue=false nzLabel="No"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Inception Date*</nz-form-label>
      <nz-form-control>
        <nz-date-picker [nzDisabledDate]="disabledDate" [(ngModel)]="insurance.dlIssueDate"
          (ngModelChange)="onChange($event)" class="w-100" [nzClassName]="'w-100'" name="dinception" [nzSize]="'large'"
          [ngClass]="{ invalid: isInputValid('inception date') }"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"></app-error-handler>
