<router-outlet></router-outlet>
<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<app-error-handler
  [showError]="error$ | async"
  [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"
></app-error-handler>
