<main class="plan bg-blue-light plan-form shop">
  <section class="section p-0">
    <div class="shop-container">
      <div class="shop__col">
        <img [src]="(extraInfo$ | async)?.images?.form" class="shop__image" alt="aiico" />
        <div class="shop__header">
          <h3 class="heading shop__title"
            *ngIf="!utilityService.isObjectEmpty(selectedPlan$ | async) && (planCategory$ | async) !== 'travel'">
            {{ (selectedPlan$ | async)?.subClassCoverTypes?.productName }} <br />
            ({{ (selectedPlan$ | async)?.subClassCoverTypes?.description }}
            <span *ngIf="(selectedPlan$ | async)?.subClassCoverTypes?.productName == 'Private Motor Comprehensive'">
              {{ (selectedPlan$ | async)?.subClassCoverTypes?.rate }}% /YR)</span>
            <span *ngIf="
                (selectedPlan$ | async)?.subClassCoverTypes?.productName !== 'Private Motor Comprehensive' &&
                (planCategory$ | async) !== 'travel'
              ">
              {{ (selectedPlan$ | async)?.subClassCoverTypes?.rate | currency: "NGN":"symbol-narrow":"0.2-2" }})
              /YR</span>
          </h3>
          <h3 class="heading shop__title" *ngIf="(planCategory$ | async) == 'travel'">
            Travel Insurance
          </h3>
        </div>
      </div>

      <div class="shop__col">
        <div class="form-wrapper">
          <form nz-form class="bg-white w-100 p-5">

            <div class="row">
              <div *ngIf="(current$ | async) === 0">
                <h4 class="col-12 pb-3">
                  Welcome!
                </h4>

                <h4 class="col-12 pt-3">
                  How would you like to be addressed?
                </h4>
              </div>

              <div *ngIf="(current$ | async) === 1">
                <h4 class="col-12 pb-3">
                  Dear {{ insurance.title }} {{ insurance.firstName }} {{ insurance.lastName }}
                </h4>

                <h4 class="col-12 pt-3">
                  Kindly provide the details below...
                </h4>
              </div>

              <div *ngIf="(current$ | async) === 2">
                <h4 class="col-12 pb-3">
                  Dear {{ insurance.title }} {{ insurance.firstName }} {{ insurance.lastName }}
                </h4>

                <h4 class="col-12 pt-3">
                  Based on the details you provided. Find below your premium:
                </h4>

                <h4 class="col-12 pt-5 mt-5" *ngIf="(planCategory$ | async) == 'auto'">
                  Premium - {{ insurance.premiumAmount | currency: "NGN":"symbol-narrow":"0.2-2" }}
                </h4>

                <h4 class="col-12 pt-5 mt-5" *ngIf="(planCategory$ | async) == 'travel'">
                  Premium - {{ insurance.premium | currency: "NGN":"symbol-narrow":"0.2-2" }}
                </h4>

                <h4 class="col-12 pt-4" *ngIf="(planCategory$ | async) == 'travel'">
                    Sum Assured - {{ insurance.currencySymbol }}{{ insurance.sumAssured | number : "0.2-2" }}
                  </h4>

                  <h4 class="col-12 pt-4" *ngIf="(planCategory$ | async) == 'travel'">
                      Excess -  {{ insurance.currencySymbol }}{{ insurance.excess | number : "0.2-2" }}
                    </h4>

                <div class="col-12 pt-5 px-5 font-14" *ngIf="(planCategory$ | async) == 'travel'">
                  <i> The weather forecast for {{ insurance.wef | date}} in Nigeria is {{ currentLocationWeather }} °C. While that for
                    {{ insurance.wef | date }} in {{ insurance.country }} is {{ destinationWeather }} °C. </i>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-4 mt-4 p-0" *ngIf="(formErrors$ | async).length">
              <nz-alert nzType="error" [nzMessage]="formErrors$.value[0]"></nz-alert>
            </div>

            <div class="row" *ngIf="(current$ | async) === 0">
              <div class="col-md-6" *ngIf="(planCategory$ | async) === 'auto'">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Category*</nz-form-label>
                  <nz-form-control>
                    <nz-select [disabled]="true" name="title" [(ngModel)]="insurance.clientCategory" name="cat"
                      (ngModelChange)="setClientCategory($event)">
                      <nz-option *ngFor="let c of clientCats" nzValue="{{ c.name }}" nzLabel="{{ c.name }}"
                        [ngClass]="{ invalid: isInputValid('Category') }"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-12 p-0">
                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Title*</nz-form-label>
                    <nz-form-control>
                      <nz-select name="title" [(ngModel)]="insurance.title"
                        [ngClass]="{ invalid: isInputValid('title') }" [nzSize]="'large'"
                        (ngModelChange)="setTitle($event)">
                        <nz-option *ngFor="let title of titles" nzValue="{{ title.name }}" nzLabel="{{ title.name }}">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">First Name*</nz-form-label>
                  <nz-form-control>
                    <input [(ngModel)]="insurance.firstName" name="firstName" nz-input
                      [ngClass]="{ invalid: isInputValid('first name') }" [nzSize]="'large'" />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Surname*</nz-form-label>
                  <nz-form-control>
                    <input [(ngModel)]="insurance.lastName" name="surname" nz-input
                      [ngClass]="{ invalid: isInputValid('surname') }" [nzSize]="'large'" />
                  </nz-form-control>
                </nz-form-item>
              </div>

            </div>

            <div *ngIf="(current$ | async) === 1">
              <div class="row" *ngIf="(planCategory$ | async) == 'auto'">

                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Number Plate*</nz-form-label>
                    <nz-form-control>
                      <input nz-input [(ngModel)]="insurance.regNo" name="regNo" [disabled]="loadingVehicleDetails"
                        [nzSize]="'large'" [ngClass]="{ invalid: isInputValid('plate') }" />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6"
                  *ngIf="selectedPlan$?.value?.subClassCoverTypes?.productName == 'Private Motor Comprehensive'">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Vehicle Amount*</nz-form-label>
                    <nz-form-control>
                      <!-- <input (ngModelChange)="formatAmountToString($event)"  [ngClass]="{ invalid: isInputValid('vehicle amount') }" nz-input class="w-100" name="amount" nzSize="large" [nzPlaceHolder]="'Minimum of 1,000,000'"  [(ngModel)]="insurance.vehicleAmount"/> -->
                      <input name="amount" (change)="formatAmountToString(insurance.vehicleAmount)" [ngClass]="{ invalid: isInputValid('vehicle amount') }" class="w-100 input-control" name="amount" nzSize="large" placeHolder="Minimum of 1,000,000" [(ngModel)]="insurance.vehicleAmount" />
                      <!-- <nz-input-number  [nzSize]="'large'"
                        [nzStep]="1"  nz-input
                        [nzSize]="'large'" ></nz-input-number> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Body Type*</nz-form-label>
                    <nz-form-control>
                      <nz-select name="title" [(ngModel)]="insurance.bodyType" name="bodyType" [nzSize]="'large'"
                        [ngClass]="{ invalid: isInputValid('body type') }">
                        <nz-option nzValue="{{ bt }}" nzLabel="{{ bt }}" *ngFor="let bt of bodyTypes"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row" *ngIf="(planCategory$ | async) == 'travel'">
                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Destination*</nz-form-label>
                    <nz-form-control>
                      <nz-select name="title" [(ngModel)]="insurance.country" name="country"
                        [ngClass]="{ invalid: isInputValid('country') }" (ngModelChange)="setCountry($event)">
                        <nz-option *ngFor="let c of countries" nzValue="{{ c.name }}" nzLabel="{{ c.name }}">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Date of Birth*</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker [nzDisabledDate]="disabledDOB"
                      [(ngModel)]="insurance.dateOfBirth" class="w-100" name="date" [nzSize]="'large'"
                        [nzClassName]="'w-100'" [ngClass]="{ invalid: isInputValid('date of birth') }"
                        [nzFormat]="yyyy - MM - DD"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Travel Date From*</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker [nzDisabledDate]="disabledDate"
                      [(ngModel)]="insurance.wef" class="w-100" [nzClassName]="'w-100'" name="date"
                        [nzSize]="'large'" [ngClass]="{ invalid: isInputValid('from') }"></nz-date-picker>

                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6">
                  <nz-form-item>
                    <nz-form-label class="form__label" [nzSpan]="24">Travel Date To*</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker [nzDisabledDate]="disabledDate" [(ngModel)]="insurance.wet" class="w-100" [nzClassName]="'w-100'" name="date"
                        [nzSize]="'large'" [ngClass]="{ invalid: isInputValid('to') }"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>

            <div class="row justify-content-end mt-5">
              <div class="col-lg-4" *ngIf="(current$ | async) > 0">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="decreaseCurrentNumber()" class="btn btn--blue w-100">
                      Previous
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-lg-4">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="increaseCurrentNumber()"
                      class="btn btn--blue btn--blue-dark w-100">
                      Next
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- <div class="col-lg-8 col-xl-6" *ngIf="(current$ | async) > 1">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="increaseCurrentNumber()"
                      class="btn btn--blue btn--blue-dark w-100">
                      {{ buttonText$ | async }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"></app-error-handler>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
