<main class="plan bg-blue-light plan-form">
  <section class="section">
    <div class="container">
      <h3 class="heading heading--secondary plan__title--alt">
        LIFE INSURANCE POLICY RENEWALS
      </h3>

      <div class="mb-5 col-12 col-md-8 col-lg-8">
        <nz-steps [nzCurrent]="current$ | async" nzLabelPlacement="vertical">
          <nz-step
            class="pointer"
            (click)="goto(0)"
            nzTitle="Renewal Details"
          ></nz-step>
          <nz-step
            class="pointer"
            (click)="goto(1)"
            nzTitle="Payment"
          ></nz-step>
        </nz-steps>
      </div>

      <div class="row">
        <div class="col-md-8">
          <form class="bg-white w-100 p-5">
            <div class="row" *ngIf="(current$ | async) === 0">
              <div class="col-md-12">
                <div class="confirm-details pt-0">
                  <div
                    class="col-md-12 mb-4 mt-4 p-0"
                    *ngIf="(formErrors$ | async).length"
                  >
                    <nz-alert
                      nzType="error"
                      [nzMessage]="formErrors$.value[0]"
                    ></nz-alert>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Full Name*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="
                              renewalService.renewalDetails.clientName
                            "
                            name="surname"
                            nz-input
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Policy Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="
                              renewalService.renewalDetails.policyNumber
                            "
                            name="surname"
                            nz-input
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Email*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="renewalService.renewalDetails.email"
                            [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ invalid: isInputValid('email') }"
                            name="email"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Phone Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="renewalService.renewalDetails.phone"
                            [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ invalid: isInputValid('phone') }"
                            name="phone"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Paid To Date*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="
                              renewalService.renewalDetails.paidToDate
                            "
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Next Installment Premium*
                        </nz-form-label>
                        <nz-form-control>
                          <input name="nextInstallmentPremium"
                          (change)="formatAmountToString(renewalService.renewalDetails.nextInstallmentPremium)"
                          [ngClass]="{ invalid: isInputValid('premium') }"
                           class="w-100 input-control"
                             [(ngModel)]="renewalService.renewalDetails
                             .nextInstallmentPremium" />

                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6"></div>
                    <div class="col-md-6 btn--link form__input">
                      Your policy status is
                      {{ renewalService.renewalDetails.policyStatus }}. You can
                      proceed to pay but kindly contact your agent or send a
                      mail to our customer services department
                      (aiicontact@aiicoplc.com) to reinstate your policy.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="(current$ | async) === 1">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  MAKE PAYMENT
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__desc">
                  Take note of this ref code you will need it to track this
                  payment - <b>{{ transactionRef }}</b>
                </p>
              </div>

              <div class="col-md-12">
                <nz-radio-group
                  [(ngModel)]="paymentOption"
                  [ngModelOptions]="{ standalone: true }"
                  class="w-100 mb-5"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <label nz-radio nzValue="flutterwave">
                        <img
                          src="./assets/images/payment/flutterwave.svg"
                          class="payment__image"
                          alt="flutterwave"
                        />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label nz-radio nzValue="interswitch">
                        <img
                          src="./assets/images/payment/interswitch.svg"
                          class="payment__image"
                          alt="interswitch"
                        />
                      </label>
                    </div>
                  </div>
                </nz-radio-group>
              </div>
            </div>

            <div class="row justify-content-center mt-5">
              <div class="col-lg-8 col-xl-6">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="confirmFormFields()"
                      class="btn btn--green w-100"
                      *ngIf="(current$ | async) === 0"
                    >
                      PAYMENT
                    </button>

                    <app-ravpay
                      [text]="'COMPLETE PAYMENT'"
                      [className]="'w-100'"
                      *ngIf="
                        (current$ | async) === 1 &&
                        paymentOption === 'flutterwave'
                      "
                      (callback)="confirmPayment($event)"
                      (close)="cancelledPayment()"
                      [key]="raveOptions.PBFPubKey"
                      [reference]="raveOptions.txref"
                      [amount]="raveOptions.amount"
                      [email]="raveOptions.customer_email"
                      [customer_firstname]="raveOptions.customer_firstname"
                      [customer_lastname]="raveOptions.customer_lastname"
                      [customer_phone]="raveOptions.customer_phone"
                      [custom_description]="raveOptions.custom_description"
                    ></app-ravpay>

                    <app-interswitch
                      [interswitchOptions]="interswitchOptions"
                      [ispolicyrenewal]="true"
                      [showButton]="
                        (current$ | async) === 1 &&
                        paymentOption === 'interswitch'
                      "
                    ></app-interswitch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="price-card">
            <div class="price-card__header">
              <p class="price-card__title">
                PRODUCT DETAILS
              </p>
            </div>

            <div class="price-card__body">
              <div class="price-card__list">
                <p class="price-card__item">PRODUCT</p>
                <p class="price-card__item">
                  {{ renewalService.renewalDetails.productName }}
                </p>
              </div>
              <div class="price-card__list">
                <p class="price-card__item">Policy Number:</p>
                <p class="price-card__item">
                  {{ renewalService.renewalDetails.policyNumber }}
                </p>
              </div>
              <div class="price-card__list">
                <p class="price-card__item">Pay to Date:</p>
                <p class="price-card__item">
                  {{ renewalService.renewalDetails.paidToDate }}
                </p>
              </div>
              <div class="price-card__list">
                <p class="price-card__item">Premium:</p>
                <p class="price-card__item">
                  ₦{{
                    renewalService.renewalDetails.nextInstallmentPremium

                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-error-handler
  [showError]="error$ | async"
  [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"
></app-error-handler>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
