<nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal login" nzTitle="" [nzWidth]="800"
  [nzFooter]="null" (nzOnCancel)="handleCancel()">


  <div class="login-row">
    <div class="login-col">
      <img src="../../../assets/images/login-image2.png" alt="login" class="login__image" />
      <div class="login--overlay">
        <p class="login__quote">
          "An insurance quote is an estimate of what your rate could be with a
          potential insurance carrier."
        </p>
        <p class="login__quote">-AIICO</p>
      </div>
    </div>
    <div class="login-col">
      <div class="login-form">
        <h3 class="login__title">Login</h3>
        <p class="paragraph login__desc">
          Welcome to AIICO E-Business Platform. Fill the fields below to login.
        </p>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <nz-input-group>
                <input nz-input formControlName="userName" class="form__input" placeholder="Username / Email" />
              </nz-input-group>

              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your username!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The username is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
              <nz-input-group>
                <input nz-input type="password" formControlName="password" class="form__input" placeholder="password" />
              </nz-input-group>

              <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your password!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <label nz-checkbox formControlName="remember">
              <span class="paragraph login__desc">Remember me</span>
            </label>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzSpan]="24" class="text-center">
              <button nz-button nzType="primary" class="btn btn--blue w-100" [disabled]="!validateForm.valid">
                Login
              </button>
            </nz-form-control>
          </nz-form-item>

          <div>
            <p class="paragraph login__desc forgot-password">
              Forgot your password?
            </p>
          </div>
          <div>
            <a href="#" routerLink="/" class="paragraph login__desc color-red">Go home?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</nz-modal>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>

<app-error-handler [showError]="error$ | async" [showCloseModal]="true" [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async" (closedModal)="closeErrorModal()"></app-error-handler>
