.errorpage {
  &__image {
    max-width: 250px;
    margin-bottom: 2rem;
  }

  .link {
    @include font-weight(bold);
    color: color(cyan);
  }

  &__title {
    @include font-size(xx-large);
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 2rem;
  }

  &__text {
    color: #3f3f3f;
    max-width: 500px;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
}
