.home {
  .section__about {
    background-color: #e6effb;
    text-align: center;

    .card {
      @include respond(small) {
        margin-left: 0 !important;
        margin-top: 2rem;
      }
      border-radius: 5px;
      border: none;
      box-shadow: 0px 2px 50px rgba(240, 245, 255, 0.3);
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      max-width: 250px;
      text-align: left;
      transition: all 0.8s ease;

      &:hover {
        box-shadow: 0px 2px 35px rgba(169, 192, 235, 0.8);
      }

      &__content {
        background: color(white);
        border-bottom: 1px solid rgba(0, 56, 150, 0.1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 100%;
        border-left: 1px solid rgba(0, 56, 150, 0.1);
        border-right: 1px solid rgba(0, 56, 150, 0.1);
        padding: 3rem 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
      }

      &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 120px;
        width: 100%;
      }

      &__title {
        color: color(blue);
        @include font-weight(semi-bold);
        @include font-size(small);
      }

      &__text {
        color: color(grey);
        @include font-size(x-small);
        @include font-weight(regular);
        line-height: 1.8;
        margin-bottom: 0;
      }
    }

    .home-plan {
      @include respond(small) {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
      }

      text-align: left;
      text-transform: capitalize;
      border-bottom: 1px solid rgba($color: #2150b7, $alpha: 0.3);
      padding-top: 3rem;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &__desc {
        @include font-size(small);
      }

      &__title {
        @include font-weight(semi-bold);
        position: relative;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 30%;
          height: 3px;
          background: #4a90e2;
          content: "";
        }
      }
    }

    .tab {
      &s {
        margin-bottom: 2rem;
        text-align: left;
      }

      &__title {
        color: color(blue);
        @include font-size(regular);
        @include font-weight(bold);
        padding-bottom: 1rem;
        position: relative;
        text-transform: uppercase;

        &::after {
          background-color: color(blue);
          bottom: 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }

        &-block {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .section__clients {
    text-align: center;
  }

  .section__covered {
    background-color: color(blue-bg);

    .list {
      list-style: none;
      margin-bottom: 1.5rem;

      .item {
        color: color(dark);
        margin: 3rem 0;
        padding-left: 45px;
        position: relative;

        &::before {
          align-items: center;
          background: rgba(0, 56, 150, 0.39);
          border-radius: 50%;
          color: color(blue);
          content: "\f00c";
          display: flex;
          font-family: "Font Awesome 5 Free";
          @include font-size(x-small);
          @include font-weight(black);
          height: 25px;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 25px;
        }
      }
    }

    .video {
      &__icon {
        color: color(cyan);
        @include font-size(xx-large);

        i {
          vertical-align: middle;
        }
      }

      &__image {
        background: url("./assets/images/video-image.png") no-repeat;
        background-size: cover;
        box-shadow: 0px 20px 40px rgba(36, 32, 135, 0.338966);
        height: 250px;
        margin-left: 1rem;
        position: relative;
      }

      &__overlay {
        align-items: center;
        background: rgba(32, 18, 78, 0.65407);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }

  .section__more-plans {
    @include respond(medium) {
      width: 100%;
    }
    width: 250vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .more-plan {
      position: relative;
      width: 100%;

      &:focus {
        outline: none;
      }

      &__bg {
        @include respond(small) {
          padding: 1rem 2rem;
          min-height: 250px;
        }
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem 4rem;
        width: 100%;
        min-height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &__content {
        z-index: 3;
        position: relative;
      }

      &__desc {
        @include respond(small) {
          @include font-size(small);
        }
        @include font-size(medium);
        margin-bottom: 1.5rem;
        color: color(white);
      }

      &__heading {
        @include respond(small) {
          @include font-size(medium);
        }
        @include font-size(m-large);
        @include font-weight(bold);
        margin-bottom: 1rem;
        color: color(white);
      }

      .image-overlay {
        &:focus {
          outline: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(27, 27, 27, 0.32), rgba(27, 27, 27, 0.32));
      }
    }

    .slick-slide {
      margin: 0 1.5rem;
    }
  }

  .section__numbers {
    background-color: color(blue);
    text-align: center;

    .btn--link {
      color: color(white) !important;
    }

    .heading {
      color: color(white);
      margin-bottom: 1rem;
    }

    .paragraph {
      color: color(white);
      @include font-size(x-small);
    }
  }

  .section__products {
    text-align: center;

    .card {
      @include respond(small) {
        margin-left: 0 !important;
      }
      background: color(white);
      border-radius: 5px;
      border: none;
      box-shadow: 0px 2px 50px rgba(240, 245, 255, 0.3);
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
      text-align: left;
      transition: all 0.8s ease;

      &:hover {
        box-shadow: 0px 2px 35px rgba(169, 192, 235, 0.8);
      }

      &__content {
        border-bottom: 1px solid rgba(0, 56, 150, 0.1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 1px solid rgba(0, 56, 150, 0.1);
        border-right: 1px solid rgba(0, 56, 150, 0.1);
        padding: 3rem 2rem;
      }

      &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 120px;
        width: 100%;
      }

      &__title {
        color: color(blue);
        @include font-weight(bold);
      }

      &__text {
        color: color(grey);
        @include font-size(x-small);
        @include font-weight(regular);
        line-height: 1.8;
        margin-bottom: 0;
      }
    }

    .tabs {
      margin-bottom: 2rem;
    }
  }

  .section__packages {
    .home-package {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      width: 100%;
      height: 100%;

      &__desc {
        margin: 0 auto;
        max-width: 600px;
        color: rgba($color: #000000, $alpha: 0.8);
      }

      &__image {
        object-fit: contain;
        object-position: center;
        margin-bottom: 2rem;
        width: 200px;
        height: 200px;
      }

      .paragraph {
        text-align: center;
      }

      &__title {
        @include font-size(medium);
        @include font-weight(bold);
        color: color(blue);
        text-align: center;
      }
    }
  }
}
