.login {
  // background-color: #d7ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &--bg {
    box-shadow: 0px 4px 14px rgba(34, 47, 81, 0.14);
  }

  &-col {
    position: relative;
    width: 100%;
  }

  &__desc {
    @include font-size(small);
    color: color(grey);
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 100%;
    height: 100%;
  }

  &__header {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 500px;
    height: 100%;
  }

  &--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem 1rem;
    width: 100%;
    height: 50%;
    background: linear-gradient(179.95deg, rgba(0, 0, 0, 0) 7.15%, rgba(2, 2, 2, 0.63) 70.73%);
  }

  &__quote {
    max-width: 300px;
    font-style: italic;
    color: color(white);

    &:first-child {
      margin-bottom: 3rem;
    }
  }

  &-row {
    @include respond(small) {
      display: block;

      .login-col:first-child {
        display: none;
      }
    }

    background-color: color(white);
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__title {
    @include respond(small) {
      @include font-size(large);
      margin-bottom: 2rem;
    }

    font-size: 36px;
    @include font-weight(bold);
    color: color(black);
  }
}
