$packagecolors: #3a95ff #184478 #6e88a6 #000000 #d0021b;

@each $current-color in $packagecolors {
  $i: index($packagecolors, $current-color);
  .package--bg:nth-child(#{$i}) {
    .package__header,
    .btn {
      background: $current-color;
    }
  }
}

.package {
  background: #fafcff;
  box-shadow: 0px 4px 20px rgba(47, 76, 109, 0.19);
  border-radius: 4px;
  margin-bottom: 3rem;
  text-transform: uppercase;
  width: 100%;

  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
  }

  .btn {
    width: calc(100% - 4rem);
  }

  &__header {
    color: color(white);
    padding: 2rem;
    text-align: center;
  }

  &-option {
    padding: 1rem 2rem;
    width: 100%;

    &:nth-child(even) {
      background: rgba(164, 206, 255, 0.15);
    }

    &__desc {
      color: color(blue);
      @include font-size(small);
      @include font-weight(bold);
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &__title {
      color: #979797;
      @include font-size(x-small);
    }
  }

  &__subtitle {
    @include font-size(m-large);
    @include font-weight(bold);
    margin-bottom: 0;
  }

  &__title {
    @include font-size(small);
  }
}
