.plan {
  margin-top: 75px;
  background-color: #e6effb;

  &-card {
    box-shadow: 0px 2px 35px rgba(169, 192, 235, 0.9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem 3rem;
    width: 250px;

    &__body {
      padding: 3rem 2rem;
    }

    &__button {
      background-color: color(blue);
      color: color(white) !important;
      display: block;
      @include font-size(x-small);
      @include font-weight(bold);
      padding: 1.5rem;
      text-align: center;
      transition: all 0.8s ease;
      width: 100%;

      &:hover {
        background-color: color(primary);
        color: color(white);
        text-decoration: none;
      }
    }

    &__desc {
      color: color(grey);
      @include font-size(x-small);
    }

    &__image {
      border-radius: 5px 5px 0px 0px;
      height: 130px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__title {
      color: color(blue);
      @include font-size(small);
      @include font-weight(bold);
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }

  .feature {
    text-align: center;

    &__btn {
      @include respond(largest) {
        @include font-size(x-small);
        min-width: max-content;
        padding: 0.9rem;
      }
      @include font-size(small);
      border-radius: 2px;
      padding: 1rem;
      text-transform: capitalize;
      background: color(blue-dark);
    }

    &__text {
      margin-bottom: 0;
    }

    &__title {
      @include respond(small) {
        @include font-size(regular);
      }
      @include font-size(medium);
      @include font-weight(bold);
      margin-bottom: 1rem;
      color: color(blue);

      &--big {
        @include respond(small) {
          @include font-size(large);
        }
        font-size: 35px;
        @include font-weight(black);
        color: color(primary);
      }
    }
  }

  &__header {
    position: relative;
  }

  &-information {
    @include respond(small) {
      padding: 4rem 3rem;
    }
    padding: 4rem 6rem;
    background-color: color(white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);

    .information {
      &__list {
        @include respond(small) {
          @include font-size(small);
        }
        @include font-size(small);
        padding-inline-start: 2rem;

        li {
          color: rgba($color: #000000, $alpha: 0.7);
          line-height: 1.3;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__title {
        color: color(black);
        @include font-weight(bold);
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }

      &-wrapper {
        max-width: 80%;
      }
    }

    &-wrapper {
      position: relative;
      width: 100%;
      transform: translateY(-20%);
    }
  }

  &-table {
    width: 100%;

    &__body {
      td:not(:first-child) {
        text-align: center;
        color: color(blue);
      }
    }

    th,
    td {
      @include font-size(small);
      color: rgba(0, 0, 0, 0.85);
      padding: 2rem 1.5rem;
      border-bottom: 1px solid rgba(151, 199, 255, 0.2) !important;
      border-left: 0 !important;
      border-top: 0 !important;
      border-right: 1px solid rgba(151, 199, 255, 0.2) !important;

      &:last-child {
        border-right: 0 !important;
      }
    }

    th {
      @include font-weight(bold);
      &:first-child {
        width: 25%;
        text-transform: uppercase;
      }
    }

    td {
      @include font-weight(medium);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    tr:last-child {
      td {
        border-bottom: 0 !important;
      }
    }

    &-wrapper {
      @include respond(medium) {
        width: 100%;
        overflow: auto;
      }
      padding: 3rem 2rem;
      background: color(white);
      box-shadow: 0px 4px 20px rgba(204, 204, 204, 0.17);
    }
  }

  &__title {
    @include font-size(medium);
    color: color(primary);
    text-transform: capitalize;

    &--alt {
      @include font-size(medium);
      text-align: center;
    }
  }
}
