.plan-form {
  .ant-steps-item-wait .ant-steps-item-icon {
    background: transparent;
  }

  .ant-steps-icon {
    .anticon {
      vertical-align: text-bottom;
    }
  }

  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: #1890ff;
  }

  &__button {
    border-radius: 4px;
    color: color(white);
    cursor: pointer;
    @include font-size(x-small);
    @include font-weight(bold);
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: left;
    width: 100%;

    &:disabled {
      background-color: #f5f5f5 !important;
      color: grey !important;
    }

    &.blue {
      background-color: #4a90e2;
    }

    &.cyan {
      background-color: #13c2c2;
    }

    &.red {
      background-color: #f0656f;
    }

    i {
      @include font-size(regular);
      margin-right: 1.5rem;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;

      input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }

  .confirm-details {
    border-bottom: 1px solid #e4eaee;
    padding: 4rem 0;
  }

  &__desc {
    color: color(dark);
    @include font-size(small);
    line-height: 1.8;
    margin-bottom: 6rem;
  }

  .details-card {
    background: color(white);

    &__image {
      height: 120px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__body {
      background: color(white);
      padding: 2rem;
    }

    &__list {
      list-style: none;
    }

    &__item {
      @include font-size(small);
      margin: 2rem 0;

      &::before {
        color: color(red);
        content: "*";
        margin-right: 0.5rem;
      }
    }

    &__title {
      @include font-weight(bold);
      margin: 1rem 0;
    }
  }

  &__info {
    border-bottom: 1px solid #e4eaee;
    color: color(red);
    @include font-size(small);
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .payment__image {
    height: 60px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .plan__title {
    text-transform: uppercase;
  }

  .price {
    &-card {
      margin-bottom: 3rem;
      width: 100%;

      &__body {
        background: color(white);
        padding: 2rem;
      }

      &__header {
        background: #184478;
        color: #fafcff;
        padding: 2rem 1rem;
        text-align: center;
      }

      &__list {
        color: #788995;
        @include font-size(small);
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: 1px solid #e4eaee;
        margin: 1rem 0;

        &:last-child {
          border-bottom: 0;
        }
      }

      &__item {
        overflow-wrap: break-word;
      }

      &__subtitle {
        @include font-size(m-large);
        @include font-weight(bold);
        margin-bottom: 0;
      }

      &__title {
        @include font-size(small);
      }
    }
  }

  &__title {
    border-bottom: 1px solid #e4eaee;
    @include font-size(small);
    padding-bottom: 2rem;
    text-transform: capitalize;
  }

  &__upload {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4rem 0;

    .btn {
      @include font-size(x-small);
      margin-left: 1.5rem;
    }

    &-details {
      color: #ff4040;
      @include font-size(small);
      margin-bottom: 0;
    }
  }
}

.ant-upload {
  &-drag-icon {
    color: rgba($color: #096161, $alpha: 0.2);
    @include font-size(xx-large);
    margin-right: 2rem !important;
  }

  &-list-item {
    margin: 2rem 0;
  }

  &-text {
    color: color(grey);
    @include font-size(x-small);
  }
}
