.shop {
  &-container {
    @include respond(medium) {
      display: block;
    }
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
  }

  &__col {
    position: relative;
    height: 100%;
  }

  .form-wrapper {
    @include respond(small) {
      padding: 4rem 0;
    }
    padding: 8rem 4rem 4rem;
  }

  &__header {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4rem;
    width: 100%;
    height: 100%;
    color: color(white);
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    @include respond(small) {
      @include font-size(large);
    }
    @include font-size(m-large);
    @include font-weight(black);
    color: color(white);
  }
}
