.transaction {
  margin-top: 75px;
  width: 100%;

  &-details {
    text-align: center;
  }

  &__icon {
    @include font-size(xx-large);
    color: color(green);

    &.fail {
      color: color(red);
    }
  }

  &__status {
    @include font-size(medium);
    @include font-weight(bold);
    text-align: center;
  }
}
