<main class="home">
  <section class="section hero py-0">
    <div class="hero--bg"></div>

    <div class="hero-wrapper">
      <div class="container">
        <div class="hero-content">
          <h3 class="hero__title">
            Welcome! <br />

            What would you like to insure, today?
          </h3>
          <p class="hero__desc">
            At AIICO Insurance, we stay with you all the way. Just as your home, car, property and holidays are all
            important to you. We make it a priority to keep you protected.
          </p>
          <a href="javascript:void(0)" (click)="scrollToDiv(target)" class="btn btn--red btn--with-icon">Explore
            Products
            <span class="btn-icon icon-right-arrow"></span>
          </a>
        </div>
      </div>

      <div class="hero__icons">
        <img src="../../../assets/images/svg/bg-icons.svg" class="img-fluid" alt="background-icons" />
      </div>
    </div>

    <ul class="hero__list">
      <li class="hero__item" (click)="showModal('life')">
        <a href="Javascript:void(0);" class="hero__link">
          <div class="hero__icon icon-life-icon">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </div>

          Life Renewal
        </a>
      </li>

      <li class="hero__item" (click)="showValidateModal()">
        <a href="Javascript:void(0);" class="hero__link">
          <div class="hero__icon icon-policy-icon">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
          </div>
          Validate My Policy
        </a>
      </li>
    </ul>
  </section>

  <section class="section section__packages">
    <div class="container">
      <div class="section__header">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="heading heading--black">Why choose our insurance packages?</h3>
            <p class="paragraph home-package__desc">
              We ensure we deliver insurance innovative insurance products that work for you. All our insurance products
              are simple, affordable and offer you the widest benefits.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="home-package">
            <img src="../../../assets/images/packages/fast-claim.png" class="home-package__image"
              alt="Fast Claim Settlement" />
            <p class="home-package__title">Fast Claim Settlement</p>
            <p class="paragraph">
              Payment within 3 working days after documentation for all amount. Acknowledgement within 24 hours of
              receipt of surrender request.
            </p>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="home-package">
            <img src="../../../assets/images/packages/no-deductions.png" class="home-package__image"
              alt="No Deductions" />
            <p class="home-package__title">No Deductions</p>
            <p class="paragraph">
              This simply means you don't have to pay for any costs upfront before receiving your benefits
            </p>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="home-package">
            <img src="../../../assets/images/packages/exciting-discounts.png" class="home-package__image"
              alt="Exciting Discounts" />
            <p class="home-package__title">Exciting Discounts</p>
            <p class="paragraph">
              We always aim to find the right insurance product to match your needs – at our best available price!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section__about" #target>
    <div class="container">
      <div class="section__header">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h3 class="heading heading--black">Choose an insurance package that is right for you</h3>
            <div class="paragraph">
              AIICO Insurance is fully commited to ensuring our customers remain at the heart of all we do. From motor
              insurance, education plans, savings, life insurance and home insurance, we deliver insurance innovative
              insurance products that work for you, our customer..
            </div>
          </div>
        </div>
      </div>

      <div class="home-plan" *ngFor="let category of categories$ | async">
        <div class="row">
          <div class="col-lg-3 align-self-center">
            <h3 class="home-plan__title">{{ category }} insurance</h3>
          </div>

          <div class="col-md-4 col-lg-3 mb-5" *ngFor="let product of (productsByCategories$ | async)[category]">
            <div class="card"
              [routerLink]="category === 'travel' ? ['/register', category, product.id] : ['/plan', category, product.id]">
              <div class="card__content">
                <img class="card__icon" src="../../../assets/images/svg/plans/{{ planIcons[product.id] }}" />
                <p class="card__title">{{ product.name }}</p>
                <p class="card__text">{{ product.description }}</p>
                <a
                  href="#"
                  *ngIf="category !== 'travel'"
                  [routerLink]="['/plan', category, product.id]"
                  class="btn btn--primary card__btn"
                  >See Plans</a
                >
                <a
                  href="#"
                  *ngIf="category === 'travel'"
                  [routerLink]="['/register', category, product.id]"
                  class="btn btn--primary card__btn"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section__more-plans">
    <div>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="more-plan">
            <div class="image-overlay"></div>
            <div
              class="more-plan__bg"
              [ngStyle]="{ 'background-image': 'url(./assets/images/home-slides/' + slide.image + ')' }"
            >
              <div class="more-plan__content">
                <h3 class="more-plan__heading">
                  {{ slide.description }}
                </h3>

                <p class="more-plan__desc">Visit our corporate site today...</p>
                <!-- <p class="more-plan__desc">Are you worried about securing the future?</p>
                <p class="more-plan__desc">Need to get a quote for your company?</p>
                <p class="more-plan__desc">Life happens, secure your family today</p> -->
                <a href="#" class="btn btn--white">Visit AIICO</a>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <app-clients></app-clients>
</main>

<app-profiling-modal></app-profiling-modal>

<nz-modal
  [(nzVisible)]="isValidateVisible"
  nzWrapClassName="vertical-center-modal"
  [nzTitle]=""
  [nzWidth]="800"
  [nzFooter]="null"
  (nzOnCancel)="handleValidateCancel()"
>
  <div class="signup">
    <h3 class="heading signup__heading">Which certificate would you like to validate?</h3>

    <div class="signup-row">
      <div class="signup-col">
        <div class="signup--overlay"></div>

        <div class="signup__card" (click)="showModal('travel')">
          <p class="signup__title">Travel</p>
          <!-- <p class="signup__desc">
            You can create new roles to allow users accYou can create new roles to allow users acc
          </p> -->
        </div>
      </div>

      <div class="signup-col">
        <div class="signup--overlay"></div>

        <div class="signup__card" (click)="showModal('term')">
          <p class="signup__title">Term Assurance</p>
          <!-- <p class="signup__desc">
            You can create new roles to allow users accYou can create new roles to allow users acc
          </p> -->
        </div>
      </div>
    </div>
  </div>
</nz-modal>
