<app-nav> </app-nav>

<main class="transaction bg-blue-light">
  <section class="section">
    <div class="container">
      <h3 class="heading heading--secondary text-center">
        Transaction Details
      </h3>

      <div class="transaction-details">
        <div
          class="transaction__icon"
          *ngIf="transactionStatus$ | async"
          [ngClass]="{
            fail:
              (transactionStatus$ | async) &&
              (transactionStatus$ | async).includes('Fail')
          }"
        >
          <i
            class="far fa-times-circle"
            *ngIf="
              (transactionStatus$ | async) &&
                (transactionStatus$ | async).includes('Fail');
              else elseBlock
            "
          ></i>

          <ng-template #elseBlock
            ><i class="far fa-check-circle"></i
          ></ng-template>
        </div>

        <p class="paragraph transaction__status">
          {{ transactionStatus$ | async }}!!!
        </p>

        <p class="paragraph transaction__description">
          {{ transactionDescription$ | async }}
        </p>

        <div
          class="transaction__table mt-5"
          *ngIf="
            (transactionStatus$ | async) &&
            !(transactionStatus$ | async).includes('Fail')
          "
        >
          <nz-table #transactionTable [nzTemplateMode]="true">
            <tbody>
              <tr>
                <td>Policy No.</td>
                <td>{{ joinArr((transactionData$ | async).policies) }}</td>
              </tr>

              <tr>
                <td>Product Type</td>
                <td>{{ (transactionData$ | async).productType || "N/A" }}</td>
              </tr>

              <tr>
                <td>Payment Channel</td>
                <td>{{ paymentChannel$ | async }}</td>
              </tr>

              <tr>
                <td>Amount Paid</td>
                <td>
                  {{
                    formatCurrency((transactionData$ | async).totalAmount) ||
                      "N/A"
                  }}
                </td>
              </tr>

              <tr>
                <td>Transaction Reference</td>
                <td>{{ (transactionData$ | async).txnref || "N/A" }}</td>
              </tr>

              <tr>
                <td>Payment Reference</td>
                <td>
                  {{ (transactionData$ | async).paymentReference || "N/A" }}
                </td>
              </tr>

              <tr>
                <td>Gateway Response</td>
                <td>
                  {{ (transactionData$ | async).gatewayResponse || "N/A" }}
                </td>
              </tr>

              <tr>
                <td>Card Number</td>
                <td>{{ (transactionData$ | async).cardNumber || "N/A" }}</td>
              </tr>

              <tr>
                <td>Effective Date</td>
                <td>{{ (transactionData$ | async).wef || "N/A" }}</td>
              </tr>

              <tr>
                <td>Expiration Date</td>
                <td>{{ (transactionData$ | async).wet || "N/A" }}</td>
              </tr>

              <tr>
                <td>Certificate</td>
                <td>
                  <a
                    [href]="(transactionData$ | async).printPolicyUrl"
                    *ngIf="
                      (transactionData$ | async).printPolicyUrl;
                      else elseCertificate
                    "
                    class="color-red"
                    >Click this link to print/download your certificate</a
                  >

                  <ng-template #elseCertificate>
                    N/A
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>

        <a href="/" class="btn btn--blue btn--blue-dark mt-5">Go Home</a>
      </div>
    </div>
  </section>

  <app-error-handler
    [showError]="error$ | async"
    [errorStatus]="errorStatus$ | async"
    [errorMessage]="errorMessage$ | async"
  ></app-error-handler>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</main>

<app-footer></app-footer>
