<header class="header">
  <div class="navigation" [ngClass]="{ sticky: isSticky }">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#" routerLink="/">
          <img src="./assets/images/logo.svg" class="logo" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Buy Products
              </a>
              <ul class="dropdown-menu border-0" aria-labelledby="productsDropdown" *ngIf="
                  !utilityService.isObjectEmpty(productsByCategories$ | async)
                ">
                <span *ngFor="let category of categories$ | async">
                  <li *ngIf="(productsByCategories$ | async)[category].length > 1" class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" id="autoDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
                      {{ category }} insurance
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="autoDropdown">
                      <li *ngFor="
                          let product of (productsByCategories$ | async)[
                            category
                          ]
                        ">
                        <a class="dropdown-item" href="Javascript:void(0);"
                          [routerLink]="['/plan', category, product.id]">{{ product.name }}</a>
                      </li>
                    </ul>
                  </li>

                  <li *ngIf="
                      (productsByCategories$ | async)[category].length == 1
                    ">
                    <a class="dropdown-item" id="autoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" href="javascript:void(0);" *ngIf="category !== 'travel'" [routerLink]="[
                        '/plan',
                        category,
                        (productsByCategories$ | async)[category][0].id
                      ]">
                      {{ category }} insurance
                    </a>

                    <a class="dropdown-item" id="autoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false" href="javascript:void(0);" *ngIf="category === 'travel'" [routerLink]="[
                        '/register',
                        category,
                        (productsByCategories$ | async)[category][0].id
                      ]">
                      {{ category }} insurance
                    </a>
                  </li>
                </span>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="showLoginModal()">
                Login
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="showSignUpModal()">
                Signup
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link corporate" href="http://aiico-corporate.herokuapp.com/">
                Corporate Site
                <span class="nav-icon icon-right-arrow"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<nz-modal [(nzVisible)]="isSignupVisible" nzWrapClassName="vertical-center-modal" [nzTitle]="" [nzWidth]="800"
  [nzFooter]="null" (nzOnCancel)="handleSignUpCancel()">
  <div class="signup">
    <h3 class="heading signup__heading">
      Would you like to sign up as a client or Agent?
    </h3>

    <div class="signup-row">
      <div class="signup-col">
        <div class="signup--overlay"></div>

        <div class="signup__card" (click)="showProfileModal('client')">
          <p class="signup__title">Client</p>
          <p class="signup__desc">
            As a client, you will be able to check the status of policies and access to validations.
          </p>
        </div>
      </div>

      <div class="signup-col">
        <div class="signup--overlay"></div>

        <div class="signup__card" (click)="showProfileModal('agent')">
          <p class="signup__title">Agent</p>
          <p class="signup__desc">
            If you sign up as an agent, you become a partner with AIICO and become a key player.
          </p>
        </div>
      </div>
    </div>
  </div>
</nz-modal>

<app-profiling-modal (action)="handleSignUpCancel()"></app-profiling-modal>

<app-login [isVisible]="isLoginVisible" (closedModal)="handleLoginCancel()"></app-login>

<div class="loader" *ngIf="loading$ | async">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
