<form
  name="form1"
  ngNoForm
  [action]="interswitchOptions.url"
  method="post"
  enctype="multipart/form-data"
  *ngIf="interswitchOptions"
>
  <input
    name="product_id"
    type="hidden"
    [value]="interswitchOptions.product_id"
  />
  <input
    name="pay_item_id"
    type="hidden"
    [value]="interswitchOptions.pay_item_id"
  />
  <input name="amount" type="hidden" [value]="interswitchOptions.amount" />
  <input name="cust_id" type="hidden" value="lujara101" />

  <input name="cust_id_desc" type="hidden" value="lujara test" />
  <input name="cust_name" type="hidden" [value]="interswitchOptions.name" />
  <input name="currency" type="hidden" value="566" />
  <input name="site_name" type="hidden" value="Aiico E-business" />
  <input
    name="pay_item_name"
    type="hidden"
    [value]="interswitchOptions.pay_item_name"
  />
  <input
    name="site_redirect_url"
    type="hidden"
    [value]="interswitchOptions.redirect_url"
  />
  <input name="txn_ref" type="hidden" [value]="interswitchOptions.txn_ref" />
  <input
    name="hash"
    type="hidden"
    [value]="interswitchOptions.hash"
    id="hash"
  />

  <button
    type="submit"
    (click)="saveTransactionRef()"
    class="btn btn--blue btn--blue-dark w-100"
    *ngIf="showButton"
  >
    {{ buttonText || "COMPLETE PAYMENT" }}
  </button>
</form>
