<!-- <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="12.5857" cy="12.5857" r="10.8357" fill="#FFC5C8" stroke="#BC2727" stroke-width="2.5" />
  <path d="M6 12L9.85609 16.071L17.8126 9.09961" stroke="#BC2727" stroke-width="2.5" />
</svg> -->

<svg width="25" height="25" viewBox="0 0 25 25" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
  y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: none;
      stroke: #BC2727;
      stroke-width: 2.5;
    }

  </style>
  <path class="st0" d="M6,12l3.9,4.1l8-7" />
</svg>
