.btn {
  border-radius: 5px;
  @include font-size(x-small);
  @include font-weight(semi-bold);
  height: auto;
  letter-spacing: 0.15rem;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  transition: all 300ms ease;

  &:disabled {
    opacity: 0.5;
    color: grey !important;
  }

  &--blue {
    background-color: #1890ff;
    color: color(white) !important;

    &:hover {
      background-color: darken(#1890ff, 20%);
      box-shadow: 0 4px 5px 0 rgba(114, 25, 25, 0.2),
        0 6px 20px 0 rgba(192, 12, 12, 0.19);
    }

    &:disabled {
      opacity: 0.5;
    }

    &-dark {
      background-color: #184478;
    }
  }

  &--green {
    background-color: color(green);
    color: color(white) !important;

    &:hover {
      background-color: darken(color(green), 20%);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &--link {
    color: color(red) !important;
    @include font-size(small);
    padding: 0;
  }

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &--primary {
    background-color: color(primary);
    color: color(white) !important;

    &:hover {
      background-color: darken(color(primary), 20%);
      box-shadow: 0 4px 5px 0 rgba(114, 25, 25, 0.2),
        0 6px 20px 0 rgba(192, 12, 12, 0.19);
    }

    &:disabled {
      background-color: color(primary);
    }
  }

  &--secondary {
    background-color: transparent;
    border: 0.2rem solid color(blue);
    color: color(blue) !important;
  }

  &--white {
    background-color: color(white);
    color: color(blue) !important;
    transition: all 0.6s linear;

    &:hover {
      color: color(white) !important;
      background-color: color(primary);
      box-shadow: 0 4px 5px 0 rgba(114, 25, 25, 0.2),
        0 6px 20px 0 rgba(192, 12, 12, 0.19);
    }
  }

  &--red {
    background-color: color(red);
    color: color(white) !important;
    transition: all 0.6s linear;

    &:hover {
      // color: color(#a81212) !important;
      background-color: rgb(121, 3, 3) !important;
      box-shadow: 0 7px 8px 0 rgba(114, 25, 25, 0.2),
        0 6px 20px 0 rgba(192, 12, 12, 0.19);
    }
  }

  &-icon {
    margin-left: 1rem;
    margin-bottom: 2px;
    width: 15px;

    path {
      stroke: color(blue);
    }
  }
}
