.card {
  background: color(white);
  cursor: pointer;
  height: 100%;

  &__btn {
    @include font-size(x-small);
    margin-top: 2rem;
    padding: 0.8rem 2.4rem;
    background: #1890ff;
    border-radius: 30px;
    text-transform: capitalize;
  }

  &__content {
    flex: 1;
  }

  &__icon {
    margin-bottom: 2rem;
    width: 60px;
    height: 60px;
  }
}
