.form {
  &__input {
    @include font-size(x-small);
  }

  &__label {
    text-align: left;
    text-transform: uppercase;
  }
}

.ant {
  &-form-item {
    margin-bottom: 2rem;
  }

  &-form-item-label {
    & > label {
      @include font-size(x-small);
      color: color(dark);
      line-height: normal;
      padding: 0 !important;
      white-space: normal;
    }
  }

  &-input,
  &-select-selection--single {
    border-radius: 0;
    border: 1px solid #95ccff;
    height: 40px;
  }

  &-input {
    @include font-size(small);

    &.invalid {
      border-color: color(red);
    }
  }
}

.ant-form-explain {
  @include font-size(x-small);
  margin-top: 0.5rem;
}

.ant-select,
.ant-calendar-picker {
  @include font-size(small);
  &.invalid {
    .ant-select-selection--single {
      border-color: color(red);
    }
  }
}

.ant-steps-item-title {
  @include font-size(regular);
  text-transform: capitalize;
}

.ant-alert {
  @include font-size(small);
}
