.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  // background: linear-gradient(62.81deg, #0746b0 15.74%, #0939e4 95.45%);
  background: white;
  background-size: cover;

  &--bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/images/svg/bg-vectors.svg") bottom center no-repeat;
    background-size: cover;
  }

  &--bg2 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/images/svg/aiicobg.jpg") bottom center no-repeat;
    background-size: cover;
    opacity: 100%;
  }

  &-content {
    @include respond(small) {
      width: 100%;
    }

    z-index: 3;
    position: relative;
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  &__desc {
    @include font-size(regular);
    line-height: 1.5;
    margin: 0 auto 3rem;
    max-width: 550px;
    color: rgba($color: color(blue), $alpha: 0.7);
  }

  &__icon {
    @include respond(small) {
      margin-right: 1rem;
    }

    margin-right: 1.5rem;
    font-size: 25px;

    &s {
      @include respond(small) {
        width: 180%;
      }

      position: absolute;
      bottom: 0;
      left: 50%;
      width: 80%;
      transform: translateX(-50%);
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
    cursor: pointer;
    color: white;

    &:first-child {
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 80%;
        background: rgba($color: color(white), $alpha: 0.7);
        transform: translateY(-50%);
        content: "";
      }
    }

    &:hover {
      background-color: rgb(136, 177, 231);

      .hero__item:first-child {
        &::after {
          display: none !important;
        }
      }

      .hero__link {
        color: color(blue) !important;
      }
    }
  }

  &__link {
    @include respond(small) {
      @include font-size(small);
    }

    @include font-size(medium);
    @include font-weight(bold);
    display: flex;
    align-items: center;
    color: color(white) !important;
    text-decoration: none !important;
    transition: all 0.5s;
  }

  &__list {
    z-index: 3;
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    list-style: none;
    background-color: #093ed5;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba($color: color(blue), $alpha: 0.7);
      content: "";
    }
  }

  &__title {
    @include respond(small) {
      @include font-size(large);
    }

    @include font-weight(bold);
    margin-bottom: 2rem;
    font-size: 40px;
    color: color(blue);
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
  }
}
