.ant-modal {
  &-close {
    &:focus {
      outline: none;
    }
  }

  &-title {
    color: color(blue);
    @include font-size(regular);
    @include font-weight(bold);
    line-height: normal;
    margin-bottom: 0;
  }
}

.errorModal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.8);

  &__close {
    @include font-size(large);
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: color(red);
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    @include font-size(xx-large);
    color: color(red);
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    min-height: 500px;
    background-color: #fff;
    border: 1px solid #eee;
  }
}

.modal {
  &__label {
    @include font-size(small);
    text-align: left;
  }
}

.policy {
  &-col {
    position: relative;
    height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    height: 56px;
    background: rgba($color: #eaedef, $alpha: 0.3);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &-modal {
    .ant-modal-header {
      display: none;
    }

    .ant-modal-body {
      padding: 0;
    }

    .ant-input {
      background-color: #eaedef;
      border: 0.4px solid rgba(33, 80, 183, 0.39);
      border-radius: 2px !important;
      height: 50px;
      margin-bottom: 1.5rem;
    }

    form {
      padding: 3rem 5rem;
    }
  }

  &-row {
    @include respond(small) {
      display: block;
    }

    display: grid;
    grid-template-columns: 30% 70%;
    background-color: color(white);
  }

  &__title {
    color: color(blue);
    @include font-size(regular);
    @include font-weight(bold);
    line-height: normal;
    margin-bottom: 0;
  }

  &-wrapper {
    background-color: color(white);
  }
}

.signup {
  background-color: color(white);
  margin-top: 5rem;
  padding: 3rem 2rem;

  &__card {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
  }

  &-col {
    position: relative;
    width: 200px;
    height: 220px;
    border-radius: 4px;
    margin: 2rem;

    &:nth-child(1) {
      background: #4a90e2;
    }

    &:nth-child(2) {
      background: #1b4297;
    }
  }

  &__desc {
    @include font-size(x-small);
    color: color(white);
  }

  &__heading {
    @include font-size(large);
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
  }

  &--overlay {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 150px;
    height: 150px;
    background: linear-gradient(214.22deg, #ffffff 3.36%, rgba(255, 255, 255, 0) 83.65%);
    opacity: 0.4;
    border-radius: 50%;
  }

  &-row {
    @include respond(small) {
      flex-direction: column;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include font-size(large);
    @include font-weight(bold);
    color: color(white);
  }
}
