.navigation {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0 1rem;
  background: white;
  // background: linear-gradient(13.58deg, #0746b0 15.74%, #0939e4 95.45%);
  transition: background-color 0.6s ease;

  &.bg-transparent {
    background: transparent !important;
  }

  &.sticky {
    background: white !important;
    // background: linear-gradient(13.58deg, #0746b0 15.74%, #0939e4 95.45%) !important;
  }

  .navbar {
    justify-content: space-between;
    padding: 0;

    &-brand {
      padding: 0;

      .logo {
        width: 15rem;
      }
    }

    &-collapse {
      flex-grow: 0;
    }

    .navbar-nav {
      @include respond(small) {
        align-items: flex-start;
        background: color(white) !important;
        padding: 1.5rem;
      }

      align-items: center;
    }

    .nav-item {
      @include respond(small) {
        width: 100%;
      }

      &:not(:last-child) {
        @include respond(small) {
          margin-bottom: 1.5rem;
          margin-right: 0;
        }

        margin-right: 3rem;
      }
    }

    .navbar-toggler {
      padding: 0;

      &-icon {
        color: color(blue);
        @include font-size(large);
      }
    }

    .nav-link {
      color: color(blue);
      @include font-size(small);
      @include font-weight(semi-bold);
      transition: all 0.4s;

      &:hover {
        color: color(red);
      }

      &.corporate {
        @include respond(small) {
          margin-left: 0;
          width: max-content;
        }

        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-left: 1rem;
        padding: 1rem 2rem;
        background-color: rgba($color: color(cyan), $alpha: 0.3);

        &:hover {
          background-color: rgba($color: color(blue), $alpha: 1);
        }

        .nav-icon {
          margin-left: 1rem;
          margin-bottom: 2px;
          width: 15px;
        }
      }
    }

    .dropdown-toggle::after {
      margin-left: 1rem;
      vertical-align: 0.3rem;
      border: 0;
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      vertical-align: middle;
    }

    .dropdown-menu {
      border: none;
      box-shadow: $box-shadow;
      margin-top: 1rem;
      padding: 2rem 3rem;
      text-transform: capitalize;
      z-index: 1021;

      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    .dropdown-item {
      color: color(blue);
      @include font-size(small);
      @include font-weight(medium);
      text-transform: capitalize;
      padding: 1rem 0;

      &:hover {
        background-color: transparent;
        color: color(red);
      }

      &.dropdown-toggle::after {
        content: "\f105";
      }
    }

    .dropdown-submenu {
      position: relative;

      .dropdown-toggle:hover {
        &::after {
          transform: rotate(-90deg) !important;
        }
      }
    }

    .dropdown-submenu > .dropdown-menu {
      left: 100%;
      margin: 0;
      min-height: 100%;
      padding: 2rem 3rem;
      top: 0;
    }

    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
  }
}
