.main-carousel {
  position: relative;

  .carousel-form {
    background-color: color(white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    @include respond(small) {
      display: none;
    }

    &__body {
      padding: 3rem;
    }

    .forgot-password {
      color: #b40000;
      @include font-size(x-small);
      @include font-weight(regular);
      margin-bottom: 0;
      text-align: center;
    }

    &__header {
      background-color: #e1e9f0;
      display: flex;
      justify-content: center;
      padding: 2rem 3rem;
    }

    &__heading {
      color: color(blue);
      @include font-size(small);
      @include font-weight(bold);
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .carousel-item {
    position: relative;

    .paragraph {
      padding-right: 2rem;
    }
  }

  .carousel-info {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .carousel-ctas {
    margin-top: 3rem;

    .btn {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .carousel-image {
    display: block;
    height: 55rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .carousel-indicators {
    li {
      background-color: color(white);
      border-radius: 100%;
      height: 1rem;
      opacity: 1;
      width: 1rem;

      &.active {
        background-color: color(blue);
      }
    }
  }
}
