.tabs {
  margin-top: 6rem;

  .nav {
    margin-bottom: 3rem;

    &-link {
      color: color(light-grey);
      @include font-size(regular);
      @include font-weight(bold);
      padding-bottom: 1rem;
      position: relative;
      text-transform: uppercase;

      &::after {
        background-color: color(light-grey);
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        &::after {
          background-color: color(blue);
        }
      }

      &.active {
        color: color(blue);

        &::after {
          background-color: color(blue);
          height: 2px;
        }
      }
    }
  }
}
