<div class="row">
  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Travel Purpose*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.travelPurpose">
          <nz-option nzValue="Visit" nzLabel="Visit"></nz-option>
          <nz-option nzValue="Conference/Training" nzLabel="Conference/Training"></nz-option>
          <nz-option nzValue="Vacation" nzLabel="Vacation"></nz-option>
          <nz-option nzValue="Treatment" nzLabel="Treatment"></nz-option>
          <nz-option nzValue="Training" nzLabel="Training"></nz-option>
          <nz-option nzValue="Sports" nzLabel="Sports"></nz-option>
          <nz-option nzValue="Business" nzLabel="Business"></nz-option>
          <nz-option nzValue="Others" nzLabel="Others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="25">Do you have any Pre-existing medical condition?*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.preMedical">
          <nz-option nzValue="true" nzLabel="Yes"></nz-option>
          <nz-option nzValue="false" nzLabel="No"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">If yes, please indicate</nz-form-label>
      <nz-form-control>
        <input nz-input name="title" [(ngModel)]="insurance.medical" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-6">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Next of Kin Name*</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="insurance.nokName" name="nokname" [nzSize]="'large'" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Relationship*</nz-form-label>
      <nz-form-control>
        <nz-select name="title" [(ngModel)]="insurance.noKrelationship" [nzSize]="'large'">
          <nz-option nzValue="Wife" nzLabel="Wife"></nz-option>
          <nz-option nzValue="Brother" nzLabel="Brother"></nz-option>
          <nz-option nzValue="Sister" nzLabel="Sister"></nz-option>
          <nz-option nzValue="Pastor" nzLabel="Pastor"></nz-option>
          <nz-option nzValue="Husband" nzLabel="Husband"></nz-option>
          <nz-option nzValue="Aunt" nzLabel="Aunt"></nz-option>
          <nz-option nzValue="Uncle" nzLabel="Uncle"></nz-option>
          <nz-option nzValue="Spouse" nzLabel="Spouse"></nz-option>
          <nz-option nzValue="Child" nzLabel="Child"></nz-option>
          <nz-option nzValue="Parent" nzLabel="Parent"></nz-option>
          <nz-option nzValue="Sibling" nzLabel="Sibling"></nz-option>
          <nz-option nzValue="Grandchild" nzLabel="Grandchild"></nz-option>
          <nz-option nzValue="Grandparent" nzLabel="Grandparent"></nz-option>
          <nz-option nzValue="Niece" nzLabel="Niece"></nz-option>
          <nz-option nzValue="Nephew" nzLabel="Nephew"></nz-option>
          <nz-option nzValue="First Cousin" nzLabel="First Cousin"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-12">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Next of Kin Address*</nz-form-label>
      <nz-form-control>
        <textarea nz-input rows="5" [(ngModel)]="insurance.noKaddr" nae="address"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
