<main class="bg-blue-light plan-form">
  <section class="section">
    <div class="container">
      <h3 class="heading heading--secondary plan__title">
        {{ (plan$ | async).name }}
      </h3>

      <div class="mb-5">
        <nz-steps [nzCurrent]="current$ | async" nzLabelPlacement="vertical">
          <nz-step nzTitle="PERSONAL"></nz-step>
          <nz-step nzTitle="VEHICLE" *ngIf="packageHasProperty(package$ | async, 'auto')"></nz-step>
          <nz-step nzTitle="ACCIDENT" *ngIf="packageHasProperty(package$ | async, 'accident')"></nz-step>
          <nz-step nzTitle="TRAVEL" *ngIf="packageHasProperty(package$ | async, 'travel')"></nz-step>
          <nz-step nzTitle="DETAILS" *ngIf="packageHasProperty(package$ | async, 'property')"></nz-step>
          <nz-step nzTitle="UPLOAD"></nz-step>
          <nz-step nzTitle="CONFIRM"></nz-step>
          <nz-step nzTitle="PAYMENT"></nz-step>
        </nz-steps>
      </div>

      <div class="row">
        <div class="col-md-8">
          <form class="bg-white w-100 p-5">
            <div class="row" *ngIf="(current$ | async) === 0">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Personal Details
                </h3>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Title*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Mr'">
                      <nz-option *ngFor="let title of titles" nzValue="{{ title.name }}" nzLabel="{{ title.name }}">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Full Name*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Email*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Phone*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Address*</nz-form-label>
                  <nz-form-control>
                    <textarea nz-input rows="5"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="
                (current$ | async) === 1 &&
                packageHasProperty(package$ | async, 'auto')
              ">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Vehicle Details
                </h3>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Vehicle Amount*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Body Type*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Number Plate*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Engine Number*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Chasis Number*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">With effect from*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Make*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Year*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Model*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Color*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="
                (current$ | async) === 1 &&
                packageHasProperty(package$ | async, 'travel')
              ">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Travel Details
                </h3>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Travel Purpose*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Do you have any Pre-existing medical
                    condition?*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="no" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">If yes, please indicate</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Next of Kin Name*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Relationship*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="" nzLabel=""></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Next of Kin Address*</nz-form-label>
                  <nz-form-control>
                    <textarea nz-input rows="5"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="
                (current$ | async) === 1 &&
                packageHasProperty(package$ | async, 'property')
              ">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Property Details
                </h3>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Ownership of Building*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="owner" nzLabel="Owner"></nz-option>
                      <nz-option nzValue="tenant" nzLabel="Tenant"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Location of house*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="no" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Tenancy Type*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="no" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Cover Duration?*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
                      <nz-option nzValue="no" nzLabel="No"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Start Date*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Postal Address*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">House Description</nz-form-label>
                  <nz-form-control>
                    <textarea nz-input rows="5"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="15">Address</nz-form-label>
                  <nz-form-control>
                    <textarea nz-input rows="5"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="
                (current$ | async) === 1 &&
                packageHasProperty(package$ | async, 'accident')
              ">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Accident Details
                </h3>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Occupation*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Units*</nz-form-label>
                  <nz-form-control>
                    <nz-select name="title" [ngModel]="'Option 1'">
                      <nz-option nzValue="1" nzLabel="1 unit"></nz-option>
                      <nz-option nzValue="2" nzLabel="2 unit"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Premium / unit*</nz-form-label>
                  <nz-form-control>
                    <input nz-input />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label class="form__label" [nzSpan]="24">Inception Date*</nz-form-label>
                  <nz-form-control>
                    <nz-date-picker [nzDisabledDate]="disabledDate" [(ngModel)]="date"
                      (ngModelChange)="onChange($event)" class="w-100" name="wefdt" [nzSize]="'large'"
                      [ngClass]="{ invalid: isInputValid('inception date') }"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="(current$ | async) === 2">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  Upload Your Documents
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__desc">
                  NOTE: Kindly scan and upload jpeg/png of your valid means of
                  ID and Vehicle License!!! *Each document/image should not be
                  more than 2MB in size
                </p>

                <h3 class="heading color-dark">
                  Upload: Valid means of ID and Vehicle License
                </h3>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">
                    <div class="plan-form__button cyan" (click)="showModal('id')">
                      <i class="fas fa-cloud-upload-alt"></i> valid ID
                    </div>
                  </div>
                  <div class="col-md-8">
                    <p class="paragraph plan-form__upload-details"></p>
                  </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">
                    <div class="plan-form__button blue" (click)="showModal('license')">
                      <i class="fas fa-cloud-upload-alt"></i> vehicle license
                    </div>
                  </div>
                  <div class="col-md-8">
                    <p class="paragraph plan-form__upload-details"></p>
                  </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">
                    <div class="plan-form__button red" (click)="showModal('bill')">
                      <i class="fas fa-cloud-upload-alt"></i> Utility bill
                    </div>
                  </div>
                  <div class="col-md-8">
                    <p class="paragraph plan-form__upload-details"></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="(current$ | async) === 3">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  CONFIRM DETAILS
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__info">
                  I have gone through all the information provided and
                  confirm your submission.
                </p>
              </div>

              <div class="col-md-12">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h3 class="heading color-dark">Personal Details:</h3>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn--blue" (click)="makeEditable(personalDetailsDisabled)"
                        *ngIf="!(personalDetailsDisabled | async)">
                        SAVE CHANGES
                      </button>

                      <button class="btn btn--blue" (click)="makeEditable(personalDetailsDisabled)"
                        *ngIf="personalDetailsDisabled | async">
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p class="plan-form__info bbn" *ngIf="!(personalDetailsDisabled | async)">
                    Please click on save changes after making changes
                  </p>

                  <div class="row">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">Title*</nz-form-label>
                        <nz-form-control>
                          <nz-select name="title" [ngModel]="'Mr'" [disabled]="personalDetailsDisabled | async">
                            <nz-option *ngFor="let title of titles" nzValue="title.name" nzLabel="title.name">
                            </nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">Full Name*</nz-form-label>
                        <nz-form-control>
                          <input nz-input [ngModel]="'John Doe'" [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">Email*</nz-form-label>
                        <nz-form-control>
                          <input nz-input [ngModel]="'johndoe@gmail.com'" [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">Phone*</nz-form-label>
                        <nz-form-control>
                          <input nz-input [ngModel]="'08012345678'" [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">Address*</nz-form-label>
                        <nz-form-control>
                          <textarea nz-input rows="5" [ngModel]="
                              'Plot PC 12, Churchgate Street, Victoria Island, Lagos.'
                            " [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" *ngIf="packageHasProperty(package$ | async, 'accident')">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h3 class="heading color-dark">Accident Details:</h3>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn--blue" (click)="makeEditable(productDetailsDisabled)"
                        *ngIf="!(productDetailsDisabled | async)">
                        SAVE CHANGES
                      </button>

                      <button class="btn btn--blue" (click)="makeEditable(productDetailsDisabled)"
                        *ngIf="productDetailsDisabled | async">
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p class="plan-form__info bbn" *ngIf="!(productDetailsDisabled | async)">
                    Please click on save changes after making changes
                  </p>

                  <div class="row">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24">Occupation*</nz-form-label>
                        <nz-form-control>
                          <input nz-input [ngModel]="Musician" [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24">Units*</nz-form-label>
                        <nz-form-control>
                          <nz-select name="title" [ngModel]="'1'" [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }">
                            <nz-option nzValue="1" nzLabel="1 unit"></nz-option>
                            <nz-option nzValue="2" nzLabel="2 unit"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24">Premium / unit*</nz-form-label>
                        <nz-form-control>
                          <input nz-input [ngModel]="'1500'" [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24">Inception Date*</nz-form-label>
                        <nz-form-control>
                          <nz-date-picker [ngModel]="date" [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }" class="w-100"></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h3 class="heading color-dark">Upload Details:</h3>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn--blue" (click)="makeEditable(uploadDetailsDisabled)"
                        *ngIf="!(uploadDetailsDisabled | async)">
                        SAVE CHANGES
                      </button>

                      <button class="btn btn--blue" (click)="makeEditable(uploadDetailsDisabled)"
                        *ngIf="uploadDetailsDisabled | async">
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p class="plan-form__info bbn" *ngIf="!(uploadDetailsDisabled | async)">
                    Please click on save changes after making changes
                  </p>

                  <div class="col-md-12">
                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">
                        <div class="plan-form__button cyan" (click)="
                            uploadDetailsDisabled.value ? null : showModal('id')
                          ">
                          <i class="fas fa-cloud-upload-alt"></i> valid ID
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p class="paragraph plan-form__upload-details"></p>
                      </div>
                    </div>

                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">
                        <div class="plan-form__button blue" (click)="
                            uploadDetailsDisabled.value
                              ? null
                              : showModal('license')
                          ">
                          <i class="fas fa-cloud-upload-alt"></i> vehicle
                          license
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p class="paragraph plan-form__upload-details"></p>
                      </div>
                    </div>

                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">
                        <div class="plan-form__button red" (click)="
                            uploadDetailsDisabled.value
                              ? null
                              : showModal('bill')
                          ">
                          <i class="fas fa-cloud-upload-alt"></i> Utility bill
                        </div>
                      </div>
                      <div class="col-md-8">
                        <p class="paragraph plan-form__upload-details"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-5">
                <nz-form-item>
                  <label nz-checkbox>
                    <span> I have gone through all the information provided and
                      confirm your submission.</span>
                  </label>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="(current$ | async) === 4">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  MAKE PAYMENT
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__desc">
                  Take note of this ref code you will need it to track this
                  payment
                </p>
              </div>

              <div class="col-md-12">
                <nz-radio-group [ngModel]="'flutterwave'" [ngModelOptions]="{ standalone: true }" class="w-100 mb-5">
                  <div class="row">
                    <div class="col-md-6">
                      <label nz-radio nzValue="flutterwave">
                        <img src="./assets/images/payment/flutterwave.svg" class="payment__image" alt="flutterwave" />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label nz-radio nzValue="interswitch">
                        <img src="./assets/images/payment/interswitch.svg" class="payment__image" alt="interswitch" />
                      </label>
                    </div>
                  </div>
                </nz-radio-group>
              </div>
            </div>

            <div class="row justify-content-center mt-5">
              <div class="col-lg-4" *ngIf="(current$ | async) === 1">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="decreaseCurrentNumber()" class="btn btn--blue w-100">
                      Previous
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-lg-4" *ngIf="(current$ | async) < 2">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="increaseCurrentNumber()" class="btn btn--primary w-100">
                      {{ buttonText$ | async }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-lg-8 col-xl-6" *ngIf="(current$ | async) > 1">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button nz-button nzType="primary" (click)="increaseCurrentNumber()" class="btn btn--primary w-100">
                      {{ buttonText$ | async }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="price-card">
            <div class="price-card__header">
              <p class="price-card__title">AUTO BASIC</p>
              <p class="price-card__subtitle">3.0%/YR</p>
            </div>

            <div class="price-card__body">
              <div class="price-card__list">
                <p class="price-card__item">Subtotal</p>
                <p class="price-card__item">N20000.00</p>
              </div>
              <div class="price-card__list">
                <p class="price-card__item">Total</p>
                <p class="price-card__item">N20000.00</p>
              </div>
            </div>
          </div>

          <div class="details-card">
            <img src="./assets/images/insurance/auto/auto.png" alt="" class="details-card__image" />

            <div class="details-card__body">
              <p class="details-card__title">KEY BENEFITS</p>

              <ul class="details-card__list">
                <li class="details-card__item" *ngFor="let item of (plan$ | async).options">
                  {{ mergeContent(item) }}
                </li>
              </ul>
            </div>

            <div class="text-center">
              <a href="https://smetsysarajul.github.io/aiico-corporate/" class="btn color-red mt-3">VIEW ON CORPORATE
                SITE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" nzTitle="File Upload:" [nzFooter]="null"
    (nzOnCancel)="handleCancel()">
    <div class="mb-5" *ngIf="(selectedValue$ | async) === 'id'">
      <nz-form-item>
        <nz-form-label class="form__label" [nzSpan]="15">Select Valid ID to upload</nz-form-label>
        <nz-form-control>
          <nz-select style="width: 100%;" name="title" [(ngModel)]="selectedOption">
            <nz-option [nzValue]="option" [nzLabel]="option.label" *ngFor="let option of options$ | async"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-upload nzType="drag" [nzMultiple]="false" [nzLimit]="1" nzAction="https://jsonplaceholder.typicode.com/posts/"
        (nzChange)="handleChange($event)">
        <div class="plan-form__upload">
          <p class="ant-upload-drag-icon mb-0">
            <i class="fas fa-cloud-upload-alt"></i>
          </p>
          <p class="ant-upload-text mb-0">OR</p>
          <button class="btn btn--blue">BROWSE FILES</button>
        </div>
      </nz-upload>
    </div>
  </nz-modal>

  <app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
    [errorMessage]="errorMessage$ | async"></app-error-handler>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</main>
