.bold {
  @include font-weight(semi-bold);
}

.bolder {
  @include font-weight(bold);
}

.bbn {
  border: none !important;
}

.overflow-auto {
  overflow-y: unset !important;
  overflow-x: hidden !important;
}

.filler {
  flex-grow: 1;
}

@each $name, $color in $colors {
  .bg-#{"" + $name} {
    background: $color !important;
  }

  .color-#{"" + $name} {
    color: $color !important;
  }
}
