<div class="row">
  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Vehicle Amount*</nz-form-label>
      <nz-form-control>
        <nz-input-number
          [(ngModel)]="insurance.vehicleAmount"
          [nzFormatter]="formatterNaira"
          [nzParser]="parserNaira"
          [disabled]="productDetailsDisabled | async"
          [ngModelOptions]="{ standalone: true }"
          class="w-100"
          name='amount'
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Body Type*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="title"
          [(ngModel)]="insurance.bodyType"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        >
          <nz-option nzValue={{bt}} nzLabel={{bt}} *ngFor="let bt of bodyTypes"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Number Plate*</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          name='regNo'
          [(ngModel)]="insurance.regNo"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Engine Number*</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          name='engine'
          [(ngModel)]="insurance.engineNo"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        />
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Chasis Number*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="chasis"
          [(ngModel)]="insurance.chasisNo"
          [disabled]="productDetailsDisabled | async"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option nzValue="" nzLabel=""></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">With effect from*</nz-form-label>
      <nz-form-control>
        <nz-date-picker
        [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        [(ngModel)]="insurance.wefDt"
        name="wefdt"
      ></nz-date-picker>

      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="24">Make*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="title"
          [(ngModel)]="insurance.make"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        >
          <nz-option nzValue={{make}} nzLabel={{make}} *ngFor="let make of vehicleMakeList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Year*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="title"
          [(ngModel)]="insurance.yrManft"
          [ngModelOptions]="{ standalone: true }"
          [disabled]="productDetailsDisabled | async"
        >
          <nz-option nzValue={{year}} nzLabel={{year}} *ngFor="let year of yearsOfManu"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Model*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="model"
          [(ngModel)]="insurance.model"
          [disabled]="productDetailsDisabled | async"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option nzValue={{model}} nzLabel={{model}} *ngFor="let model of vehicleModelList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="col-md-4 mb-2">
    <nz-form-item>
      <nz-form-label class="form__label" [nzSpan]="15">Color*</nz-form-label>
      <nz-form-control>
        <nz-select
          name="color"
          [(ngModel)]="insurance.color"
          [disabled]="productDetailsDisabled | async"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option nzValue={{col}} nzLabel={{col}} *ngFor="let col of colorList"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
