<main class="plan">
  <section class="plan__header">
    <div class="header__banner" [ngStyle]="{ 'background-image': 'url(' + (extraInfo$ | async).images.banner + ')' }">
      <div class="header__banner--overlay"></div>
      <div class="container">
        <div class="banner__content">
          <nav class="nav-breadcrumb">
            <ul class="nav-breadcrumb__list">
              <li class="nav-breadcrumb__item">{{ plan$ | async }} insurance</li>
            </ul>
          </nav>

          <h3 class="banner__title" *ngIf="!utilityService.isObjectEmpty(selectedProduct$ | async)">
            {{ (selectedProduct$ | async).description }}
          </h3>
        </div>
      </div>
    </div>

    <div class="plan-information-wrapper">
      <div class="container">
        <div class="plan-information">

          <!--  -->
          <div class="row">
            <div class="col-10">
              <h3 class="heading plan__title mt-4">About {{ (selectedProduct$ | async).description }} Insurance</h3>
            </div>
            <div> <a href="javascript:void(0)" (click)="scrollToDiv(target2)"
                class="btn btn--primary feature__btn">Select Plan </a>
            </div>
          </div>

          <!--  -->

          <p class="paragraph">
            {{ (extraInfo$ | async).summary }}
          </p>

          <div class="row" *ngIf="(extraInfo$ | async).premiums">
            <div class="col-md-6">
              <div class="information-wrapper">
                <p class="paragraph information__title">Premium:</p>
                <ul class="information__list">
                  <li *ngFor="let premium of (extraInfo$ | async).premiums">{{ premium }}</li>
                </ul>
              </div>
            </div>

            <div class="col-md-6" *ngFor="let info of getObjectKeys((extraInfo$ | async).others)">
              <div class="information-wrapper">
                <p class="paragraph information__title">{{ info }}</p>
                <p class="paragraph" *ngIf="info === 'benefits'">The benefits includes:</p>
                <ul class="information__list">
                  <li *ngFor="let item of (extraInfo$ | async).others[info]">{{ item }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0" #target2>
    <div class="container">
      <h3 class="heading heading--black text-center mb-3">Pricing Built for Everyone</h3>

      <div class="plan-table-wrapper">
        <table class="table plan-table">
          <thead>
            <tr>
              <th>Features</th>
              <th *ngFor="let prod of products$ | async">
                <div class="feature">
                  <p class="feature__title">{{ prod.subClassCoverTypes.coverTypeName }}</p>
                  <p>
                    <span class="feature__title  feature__title--big">
                      <span
                        *ngIf="prod.subClassCoverTypes.productName == 'Private Motor Comprehensive'">{{ prod.subClassCoverTypes.rate }}
                        %
                      </span>
                      <span
                        *ngIf="prod.subClassCoverTypes.productName !== 'Private Motor Comprehensive'">{{ prod.subClassCoverTypes.rate | currency: "NGN":"symbol-narrow":"0.2-2" }}
                        /YR.</span>
                    </span>
                    <span *ngIf="prod.subClassCoverTypes.productName == 'Private Motor Comprehensive'"
                      class="rate-color">
                      /YR.
                    </span>
                  </p>

                  <a
                    href="#"
                    *ngIf="(plan$ | async) !== 'auto'"
                    [routerLink]="['/shop', plan$ | async, prod.subClassCoverTypes.id]"
                    [state]="{ data: prod }"
                    class="btn btn--primary feature__btn"
                    >Buy Now</a
                  >

                  <a
                    href="#"
                    *ngIf="(plan$ | async) == 'auto'"
                    [routerLink]="['/register', plan$ | async, prod.subClassCoverTypes.id]"
                    [state]="{ data: prod }"
                    class="btn btn--primary feature__btn"
                    >Buy Now</a
                  >
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="plan-table__body">
            <tr *ngFor="let benefit of benefits$ | async">
              <td>
                <p class="feature__text">{{ benefit }}</p>
              </td>
              <td *ngFor="let prod of products$ | async">
                <app-check *ngIf="
                    getBenefitFromArr(prod.benefits, benefit) &&
                      getBenefitFromArr(prod.benefits, benefit).description == 'Covered';
                    else alt_desc
                  "></app-check>

                <ng-template #alt_desc>
                  <p class="feature__text">
                    {{
                      getBenefitFromArr(prod.benefits, benefit)
                        ? getBenefitFromArr(prod.benefits, benefit).description
                        : "N/A"
                    }}
                  </p>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td></td>
              <td *ngFor="let prod of products$ | async">
                <a
                  href="#"
                  *ngIf="(plan$ | async) !== 'auto'"
                  [routerLink]="['/shop', plan$ | async, prod.subClassCoverTypes.id]"
                  [state]="{ data: prod }"
                  class="btn btn--primary feature__btn"
                  >Buy Now</a
                >

                <a
                href="#"
                *ngIf="(plan$ | async) == 'auto'"
                [routerLink]="['/register', plan$ | async, prod.subClassCoverTypes.id]"
                [state]="{ data: prod }"
                class="btn btn--primary feature__btn"
                >Buy Now</a
              >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>

  <app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
    [errorMessage]="errorMessage$ | async"></app-error-handler>
</main>
