<nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal policy-modal" [nzTitle]="modalTitle$ | async"
  [nzWidth]="800" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <div class="policy-wrapper">
    <div class="policy-row">
      <div class="policy-col">
        <img src="../../../assets/images/user.png" class="policy__image" alt="" />
      </div>

      <div class="policy-col">
        <div class="policy__header">
          <h3 class="policy__title">{{ modalTitle$ | async }}</h3>
        </div>

        <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <p class="paragraph mb-5">Please fill out the information below</p>

          <nz-form-item>
            <nz-form-label class="modal__label" [nzSpan]="24"
              *ngIf="(selectedModal$ | async) == 'life' || (selectedModal$ | async) == 'client'">Enter your Policy
              Number</nz-form-label>
            <nz-form-label class="modal__label" [nzSpan]="24" *ngIf="(selectedModal$ | async) == 'travel'">Enter your
              Certificate Policy Number</nz-form-label>

            <nz-form-label class="modal__label" [nzSpan]="24" *ngIf="(selectedModal$ | async) == 'agent'">Enter your
              Agent Code/Phone Number/Email*</nz-form-label>

            <nz-form-label class="modal__label" [nzSpan]="24" *ngIf="(selectedModal$ | async) == 'term'">Enter your
              Policy Number/Certificate Number*</nz-form-label>

            <nz-form-control nzErrorTip="Please enter your policy number!">
              <nz-input-group>
                <input formControlName="validateNumber" nz-input placeholder="Policy Number"
                  *ngIf="(selectedModal$ | async) == 'life' || (selectedModal$ | async) == 'client'" />

                <input formControlName="validateNumber" nz-input placeholder="Certificate Number"
                  *ngIf="(selectedModal$ | async) == 'travel'" />

                <input formControlName="validateNumber" nz-input placeholder="Agent Code/Phone Number/Email"
                  *ngIf="(selectedModal$ | async) == 'agent'" />

                <input formControlName="validateNumber" nz-input placeholder="Number/Certificate Number"
                  *ngIf="(selectedModal$ | async) == 'term'" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" class="btn btn--blue w-100" [disabled]="!validateForm.valid">
                Submit
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</nz-modal>


<app-error-handler [showError]="error$ | async" [errorStatus]="errorStatus$ | async"
  [errorMessage]="errorMessage$ | async"></app-error-handler>

<nz-modal [(nzVisible)]="showCertificateModal" [nzWidth]="800" nzWrapClassName="vertical-center-modal" [nzFooter]="null"
  (nzOnCancel)="handleSuccessCancel()">
  <div class="mb-5 row text-center" *ngIf="isCertificateValid && (selectedModal$ | async) == 'term'">
    <div class="col-12">
        <img src="../../../assets/images/validation/genuine.svg">
    </div>
    <img src="../../../assets/images/validation/certificate.jpg" alt="" style="max-height: 800px;margin: auto;" />
    <p style="position: absolute;top: 27%;left: 22%">START DATE</p>
    <p style="position: absolute;top: 29%;left: 22%;"> {{assurance.startDate}}</p>

    <p style="position: absolute;top: 27%;left: 35%;">SUM ASSURED</p>
    <p style="position: absolute;top: 29%;left: 38%;">{{assurance.sumAssured}}</p>

    <p style="position: absolute;top: 27%;left: 51%;">TERM</p>
    <p style="position: absolute;top: 29%;left: 51%;">{{assurance.term}}</p>

    <p style="position: absolute;top: 32%;left: 22%;">POLICY NO.</p>
    <p style="position: absolute;top: 34%;left: 22%;">{{assurance.policyNo}}</p>

    <p style="position: absolute;top: 32%;left: 36%;">EXPIRY DATE</p>
    <p style="position: absolute;top: 34%;left: 37%;">{{assurance.endDate}}</p>

    <p style="position: absolute;top: 51%;left: 30%;right: 30%;"> {{assurance.fullName}}</p>

  </div>

  <div class="mb-5 row text-center" *ngIf="isCertificateValid && (selectedModal$ | async) == 'travel'">
    <div class="col-12">
      <img src="../../../assets/images/validation/genuine.svg">
  </div>

  <div class="row">
    <div class="col-md-4">
      <nz-form-item>
        <nz-form-control>
          <span>Insured's name: </span>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div class="col-md-8 heading">
      <span>{{assurance?.clientName}}</span>
    </div>

    <div class="col-md-4">
      <nz-form-item>
        <nz-form-control>
          <span>Policy Number:</span>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div class="col-md-8 heading">
      <span>{{assurance?.policyNo}}</span>
    </div>

    <div class="col-md-4">
      <nz-form-item>
        <nz-form-control>
          <span>Date Issued:</span>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div class="col-md-8 heading">
      <span> {{assurance?.dateIssued}}</span>
    </div>

    <div class="col-md-4">
      <nz-form-item>
        <nz-form-control>
          <span>Policy Duration:</span>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div class="col-md-8 heading">
      <span> {{assurance?.policyDuration}}</span>
    </div>

    <div class="col-md-4">
      <nz-form-item>
        <nz-form-control>
          <span>Destination:</span>
        </nz-form-control>
      </nz-form-item>

    </div>

    <div class="col-md-8 heading">
      <span>{{assurance?.destination}}</span>
    </div>

  </div>



  </div>

  <div class="mb-5 row text-center" *ngIf="!isCertificateValid">
    <div class="col-12 col-md-6">
      <img src="../../../assets/images/validation/notfound.svg" class="w-100">
    </div>
    <div class="col-12 col-md-6 container d-flex">
      <p class="align-center">CERTIFICATE NOT FOUND</p>
    </div>
  </div>
</nz-modal>

<!-- <app-term-certificate [visible]="showSuccessModal"></app-term-certificate> -->
