<main class="plan bg-blue-light plan-form">
  <section class="section">
    <div class="container">
      <h3 class="heading heading--secondary plan__title--alt">
        {{ selectedPlan?.subClassCoverTypes?.productName }}
        <span *ngIf="selectedPlan?.subClassCoverTypes?.description"
          >({{ selectedPlan?.subClassCoverTypes?.description }})</span
        >
      </h3>

      <div class="mb-5">
        <nz-steps [nzCurrent]="current$ | async" nzLabelPlacement="vertical">
          <nz-step nzTitle="Personal"></nz-step>
          <!-- <nz-step [nzTitle]="selectedPlan.subClassCoverTypes.productName == 'Travel' ? 'Travel' : selectedPlan.subClassCoverTypes?.productName"></nz-step> planCategory$ -->
          <nz-step nzTitle="{{ caption }}"></nz-step>

          <nz-step nzTitle="Upload"></nz-step>
          <nz-step
            class="pointer"
            (click)="goto(3)"
            nzTitle="Confirm"
          ></nz-step>
          <nz-step
            class="pointer"
            (click)="goto(4)"
            nzTitle="Payment"
          ></nz-step>
        </nz-steps>
      </div>

      <div class="row">
        <div class="col-md-8">
          <form class="bg-white w-100 p-5">
            <div class="row" *ngIf="(current$ | async) === 3">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  CONFIRM DETAILS
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__info">
                I have gone through all the information provided and
                  confirm your submission.
                </p>
              </div>

              <div class="col-md-12">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h3 class="heading color-dark">Personal Details:</h3>
                    </div>
                    <div class="col-md-4">
                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(personalDetailsDisabled)"
                        *ngIf="!(personalDetailsDisabled | async)"
                      >
                        SAVE CHANGES
                      </button>

                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(personalDetailsDisabled)"
                        *ngIf="personalDetailsDisabled | async"
                      >
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p
                    class="plan-form__info bbn"
                    *ngIf="!(personalDetailsDisabled | async)"
                  >
                    Please click on save changes after making changes
                  </p>

                  <div class="row">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Title*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.title"
                            [disabled]="personalDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ title.name }}"
                              nzLabel="{{ title.name }}"
                              *ngFor="let title of titles"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >First Name*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="insurance.firstName"
                            name="firstName"
                            nz-input
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Surname*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="insurance.lastName"
                            name="surname"
                            nz-input
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Email*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="insurance.pryEmail"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Phone*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="insurance.smsTel"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Gender*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.gender"
                            name="gender"
                            [disabled]="personalDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Male"
                              nzLabel="Male"
                            ></nz-option>
                            <nz-option
                              nzValue="Female"
                              nzLabel="Female"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Date of Birth*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                          [nzDisabledDate]="disabledDOB"
                            [(ngModel)]="insurance.dateOfBirth"
                            class="w-100"
                            [nzClassName]="'w-100'"
                            name="date"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6" *ngIf="parentProductCat === 'auto'">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Drivers' License Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="insurance.dlNo"
                            name="dlNo"
                            nz-input
                            [nzSize]="'large'"
                            [disabled]="personalDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6" *ngIf="parentProductCat === 'auto'">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Years of Driving*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.yearsOfDrvExperience"
                            name="yearsOfDrvExperience"
                            [disabled]="personalDetailsDisabled | async"
                          >
                            <nz-option
                              *ngFor="let year of yearsOfDriving"
                              nzValue="{{ year }}"
                              nzLabel="{{ year }}"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6" *ngIf="parentProductCat === 'auto'">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Drivers' License Expiry Date*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                          [nzDisabledDate]="disabledDate"
                            [(ngModel)]="insurance.dlIssueDate"
                            class="w-100"
                            [nzClassName]="'w-100'"
                            name="date"
                            [nzSize]="'large'"
                            [disabled]="personalDetailsDisabled | async"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="(planCategory$ | async) == 'travel'"
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Passport Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [(ngModel)]="insurance.passportNumber"
                            name="firstName"
                            [disabled]="personalDetailsDisabled | async"
                            nz-input
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="(planCategory$ | async) == 'travel'"
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Destination*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.country"
                            [disabled]="personalDetailsDisabled | async"
                            name="country"
                          >
                            <nz-option
                              *ngFor="let c of countries"
                              nzValue="{{ c.name }}"
                              nzLabel="{{ c.name }}"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="(planCategory$ | async) == 'auto'"
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Category*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.clientCategory"
                            [disabled]="personalDetailsDisabled | async"
                            name="cat"
                          >
                            <nz-option
                              *ngFor="let c of clientCat"
                              nzValue="{{ c.name }}"
                              nzLabel="{{ c.name }}"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="(planCategory$ | async) == 'travel'"
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Travel Date From*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                          [nzDisabledDate]="disabledDate"
                            [disabled]="personalDetailsDisabled | async"
                            [nzClassName]="'w-100'"
                            [(ngModel)]="insurance.wef"
                            class="w-100"
                            name="date"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="(planCategory$ | async) == 'travel'"
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Travel Date To*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                          [nzDisabledDate]="disabledDate"
                            [disabled]="personalDetailsDisabled | async"
                            [nzClassName]="'w-100'"
                            [(ngModel)]="insurance.wet"
                            class="w-100"
                            name="date_to"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-6"
                      *ngIf="
                        selectedPlan?.subClassCoverTypes?.productName ==
                        'Shop Content Insurance'
                      "
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Nature of Business*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            [disabled]="personalDetailsDisabled | async"
                            [(ngModel)]="insurance.natureOfBusiness"
                            name="business"
                            nz-input
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-12"
                      *ngIf="
                        selectedPlan?.subClassCoverTypes?.productName !==
                        'Personal Accident'
                      "
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Address*</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            nz-input
                            rows="5"
                            [(ngModel)]="insurance.address"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div
                      class="col-md-12"
                      *ngIf="
                        selectedPlan?.subClassCoverTypes?.productName ==
                        'Personal Accident'
                      "
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Address*</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            nz-input
                            rows="5"
                            [(ngModel)]="insurance.physicalAddrs"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="personalDetailsDisabled | async"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <!-- <h3 class="heading color-dark">Vehicle Details:</h3> -->
                    </div>
                    <div class="col-md-4">
                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(productDetailsDisabled)"
                        *ngIf="!(productDetailsDisabled | async)"
                      >
                        SAVE CHANGES
                      </button>

                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(productDetailsDisabled)"
                        *ngIf="productDetailsDisabled | async"
                      >
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p
                    class="plan-form__info bbn"
                    *ngIf="!(productDetailsDisabled | async)"
                  >
                    Please click on save changes after making changes
                  </p>
                  <!-- <app-auto [(insurance)]="insurance" *ngIf="parentProductCat === 'auto'"></app-auto>
              <app-travel [(insurance)]="insurance" *ngIf="parentProductCat === 'travel'"></app-travel>
              <app-home [(insurance)]="insurance" *ngIf="parentProductCat === 'home'"></app-home>
              <app-health [(insurance)]="insurance" *ngIf="parentProductCat === 'health'"></app-health> -->

                  <div class="row" *ngIf="parentProductCat === 'auto'">
                    <div class="col-md-12">
                      <h3 class="heading heading--secondary plan-form__title">
                        Vehicle Details:
                      </h3>
                    </div>
                    <div
                      class="col-md-4 mb-2"
                      *ngIf="
                        selectedPlan?.subClassCoverTypes?.productName ==
                        'Private Motor Comprehensive'
                      "
                    >
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Vehicle Amount*</nz-form-label
                        >
                        <nz-form-control>
                          <!-- <nz-input-number
                            (ngModelChange)="onChangeVehicleAmount($event)"
                            [(ngModel)]="insurance.vehicleAmount"
                            [nzParser]="parserNaira"
                            [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }"
                            class="w-100"
                            name="amount"
                          ></nz-input-number> -->
                          <input
                          (change)="onChangeVehicleAmount(insurance.vehicleAmount)"
                           class="w-100 input-control"
                           [disabled]="productDetailsDisabled | async"
                            name="amount"
                            nzSize="large"
                            placeHolder="Minimum of 1,000,000"
                             [(ngModel)]="insurance.vehicleAmount" />

                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Body Type*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.bodyType"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ bt }}"
                              nzLabel="{{ bt }}"
                              *ngFor="let bt of bodyTypes"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Number Plate*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            name="regNo"
                            [(ngModel)]="insurance.regNo"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Engine Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            name="engine"
                            [(ngModel)]="insurance.engineNo"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Chasis Number*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            name="chasis"
                            [(ngModel)]="insurance.chasisNo"
                            [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >With effect from*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                            [nzDisabledDate]="disabledDate"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.wefDt"
                            name="wefdt"
                            [nzClassName]="'w-100'"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Make*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.make"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ make }}"
                              nzLabel="{{ make }}"
                              *ngFor="let make of vehicleMakeList"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Year*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.yrManft"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ year }}"
                              nzLabel="{{ year }}"
                              *ngFor="let year of yearsOfManu"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Model*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="model"
                            [(ngModel)]="insurance.model"
                            [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <nz-option
                              nzValue="{{ model }}"
                              nzLabel="{{ model }}"
                              *ngFor="let model of vehicleModelList"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-4 mb-2">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Color*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="color"
                            [(ngModel)]="insurance.color"
                            [disabled]="productDetailsDisabled | async"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <nz-option
                              nzValue="{{ col }}"
                              nzLabel="{{ col }}"
                              *ngFor="let col of colorList"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      parentProductCat === 'content' &&
                      selectedPlan.subClassCoverTypes.productName !==
                        'Shop Content Insurance'
                    "
                  >
                    <div class="col-md-12">
                      <h3 class="heading heading--secondary plan-form__title">
                        Property Details
                      </h3>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Ownership of Building*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [(ngModel)]="insurance.preOwnership"
                            name="ownership"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="owner"
                              nzLabel="Owner"
                            ></nz-option>
                            <nz-option
                              nzValue="tenant"
                              nzLabel="Tenant"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Location of house*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [(ngModel)]="insurance.lgaId"
                            name="ownership"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ lg.id }}"
                              nzLabel="{{ lg.name }}"
                              *ngFor="let lg of localGovtAreas"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Tenancy Type*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [(ngModel)]="insurance.tenancy"
                            name="tenancy"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Multi-tenanted"
                              nzLabel="Multi-tenanted"
                            ></nz-option>
                            <nz-option
                              nzValue="Sole occupier"
                              nzLabel="Sole occupier"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Cover Duration?*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [(ngModel)]="insurance.coverDuration"
                            name="ownership"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="N10,000/annum"
                              nzLabel="N10,000/annum"
                            ></nz-option>
                            <nz-option
                              nzValue="N5,000/half yearly"
                              nzLabel="N5,000/half yearly"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Start Date*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.wef"
                            [nzClassName]="'w-100'"
                            class="w-100"
                            name="startDate"
                            [nzSize]="'large'"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>


                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Postal Address*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="insurance.postalAddress"
                            name="postal"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >{{ plan }} Description</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            nz-input
                            rows="5"
                            [(ngModel)]="insurance.description"
                            name="desc"
                            [disabled]="productDetailsDisabled | async"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15">
                          {{ plan }} Address</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            nz-input
                            rows="5"
                            [(ngModel)]="insurance.physicalAddrs"
                            name="address"
                            [disabled]="productDetailsDisabled | async"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div class="col-md-12" *ngIf="plan == 'House' || plan == 'Office'">
                      <nz-tabset>
                        <nz-tab nzTitle="Items to Insure">
                          <span
                            class="row"
                            *ngFor="let item of selectedPlan.subClassCoverTypes.subClassName == 'Office Insurance' ? insurance.officeItems : insurance.homeItems"                          >
                            <div class="col-md-6">
                              <nz-form-item>
                                <nz-form-control>
                                  <input
                                    [disabled]="productDetailsDisabled | async"
                                    placeholder="Item Name"
                                    nz-input
                                    name={{item.name}}
                                    [nzSize]="'large'"
                                    [(ngModel)]="item.name"
                                  />
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                            <div class="col-md-6">
                              <nz-form-item>
                                <nz-form-control>
                                  <input
                                    [disabled]="productDetailsDisabled | async"
                                    placeholder="Item Value (₦)"
                                    nz-input
                                    name={{item.amount}}
                                    [nzSize]="'large'"
                                    [(ngModel)]="item.amount"
                                  />
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </span>
                          <!-- <button nz-button nzType="primary" (click)="addNewItem()" class="btn btn--blue">
                              More Items
                            </button> -->
                        </nz-tab>
                      </nz-tabset>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      parentProductCat === 'content' &&
                      selectedPlan?.subClassCoverTypes.productName ==
                        'Shop Content Insurance'
                    "
                  >
                    <div class="col-md-12">
                      <h3 class="heading heading--secondary plan-form__title">
                        Shop Details:
                      </h3>
                    </div>
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Type of Shop*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [(ngModel)]="insurance.typeOfShop"
                            name="typeShop"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Stand Alone"
                              nzLabel="Stand Alone"
                            ></nz-option>
                            <nz-option
                              nzValue="Street Shop"
                              nzLabel="Street Shop"
                            ></nz-option>
                            <nz-option
                              nzValue="Plaza"
                              nzLabel="Plaza"
                            ></nz-option>
                            <nz-option
                              nzValue="Layout"
                              nzLabel="Layout"
                            ></nz-option>
                            <nz-option
                              nzValue="Others"
                              nzLabel="Others"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >If Other Types of Shop, please specify</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.otherTypeOfShop"
                            name="othershop"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Nature Of Structure*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.natureOfStructure"
                            name="natureStruct"
                          >
                            <nz-option
                              nzValue="Construction"
                              nzLabel="Construction"
                            ></nz-option>
                            <nz-option
                              nzValue="Brick/Roofed tile"
                              nzLabel="Brick/Roofed tile"
                            ></nz-option>
                            <nz-option
                              nzValue="Brick/thatched"
                              nzLabel="Brick/thatched"
                            ></nz-option>
                            <nz-option
                              nzValue="Treatment"
                              nzLabel="Treatment"
                            ></nz-option>
                            <nz-option
                              nzValue="Training"
                              nzLabel="Training"
                            ></nz-option>
                            <nz-option
                              nzValue="Sports"
                              nzLabel="Sports"
                            ></nz-option>
                            <nz-option
                              nzValue="Business"
                              nzLabel="Business"
                            ></nz-option>
                            <nz-option
                              nzValue="Others"
                              nzLabel="Others"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >If Other Nature of Structure, please specify
                        </nz-form-label>
                        <nz-form-control>
                          <input
                            nz-input
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.otherNatureOfStructure"
                            name="postal"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Nature of Stock*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.natureOfStock"
                            name="natureStock"
                          >
                            <nz-option
                              nzValue="Perishable"
                              nzLabel="Perishable"
                            ></nz-option>
                            <nz-option
                              nzValue="Non-Perishable"
                              nzLabel="Non-Perishable"
                            ></nz-option>
                            <nz-option
                              nzValue="Household"
                              nzLabel="Household"
                            ></nz-option>
                            <nz-option
                              nzValue="Clothing"
                              nzLabel="Clothing"
                            ></nz-option>
                            <nz-option
                              nzValue="Provision"
                              nzLabel="Provision"
                            ></nz-option>
                            <nz-option
                              nzValue="Others"
                              nzLabel="Others"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >If other Nature of Stock, please specify
                        </nz-form-label>
                        <nz-form-control>
                          <input
                            [disabled]="productDetailsDisabled | async"
                            nz-input
                            [(ngModel)]="insurance.otherNatureOfStock"
                            name="otherStock"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >How do you take stock?*
                        </nz-form-label>
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.stockTakingMode"
                            name="stockTakingMode"
                          >
                            <nz-option
                              nzValue="Daily"
                              nzLabel="Daily"
                            ></nz-option>
                            <nz-option
                              nzValue="Weekly"
                              nzLabel="Weekly"
                            ></nz-option>
                            <nz-option
                              nzValue="Monthly"
                              nzLabel="Monthly"
                            ></nz-option>
                            <nz-option
                              nzValue="Quaterly"
                              nzLabel="Quaterly"
                            ></nz-option>
                            <nz-option
                              nzValue="Annually"
                              nzLabel="Annually"
                            ></nz-option>
                            <nz-option
                              nzValue="Others"
                              nzLabel="Others"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >If other, how do you take stock, please
                        </nz-form-label>
                        <nz-form-control>
                          <input
                            nz-input
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.otherStockTakingMode"
                            name="otherStockTakingMode"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Do you keep a proper set of stock book*
                        </nz-form-label>
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.keepsStockBook"
                            name="keepsStockBook"
                          >
                            <nz-option nzValue="true" nzLabel="Yes"></nz-option>
                            <nz-option nzValue="false" nzLabel="No"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Do you keep such stock book in safe place*
                        </nz-form-label>
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.keepsStockBookInSafePlace"
                            name="keepsStockBookInSafePlace"
                          >
                            <nz-option nzValue="true" nzLabel="Yes"></nz-option>
                            <nz-option nzValue="false" nzLabel="No"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Lga of Shop*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.lgaId"
                            name="lgaId"
                          >
                            <nz-option
                              nzValue="{{ lg.id }}"
                              nzLabel="{{ lg.name }}"
                              *ngFor="let lg of localGovtAreas"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Maximum Stock Value*
                        </nz-form-label>
                        <nz-form-control>
                          <input
                          (change)="onChangeStockValue(insurance.stockAmount)"
                           class="w-100 input-control"
                           [disabled]="productDetailsDisabled | async"
                            name="stockAmount"
                             [(ngModel)]="insurance.stockAmount" />

                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Cover Duration*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.coverDuration"
                            name="coverDuration"
                          >
                            <nz-option
                              nzValue="N10,000/annum"
                              nzLabel="N10,000/annum"
                            ></nz-option>
                            <nz-option
                              nzValue="N5,000/half yearly"
                              nzLabel="N5,000/half yearly"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Start Date*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.wef"
                            [nzClassName]="'w-100'"
                            class="w-100"
                            name="startDate"
                            [nzSize]="'large'"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >{{ plan }} Address</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            [disabled]="productDetailsDisabled | async"
                            nz-input
                            rows="5"
                            [(ngModel)]="insurance.physicalAddrs"
                            name="address"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="row" *ngIf="parentProductCat === 'casualty'">
                    <div class="col-md-12">
                      <h3 class="heading heading--secondary plan-form__title">
                        Accident Details
                      </h3>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Occupation*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="insurance.occupation"
                            name="occupation"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Accident Rates*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.accidentRate"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="{{ rate.name }}"
                              nzLabel="{{ rate.name }}"
                              *ngFor="let rate of accidentRates"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Units*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="title"
                            [(ngModel)]="insurance.unit"
                            [ngModelOptions]="{ standalone: true }"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option nzValue="1" nzLabel="Unit 1"></nz-option>
                            <nz-option nzValue="2" nzLabel="Unit 2"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Premium / unit*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            [(ngModel)]="insurance.premiumAmount"
                            name="premium"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Relationship*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="relationship"
                            [(ngModel)]="insurance.relationship"
                            [nzSize]="'large'"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Wife"
                              nzLabel="Wife"
                            ></nz-option>
                            <nz-option
                              nzValue="Brother"
                              nzLabel="Brother"
                            ></nz-option>
                            <nz-option
                              nzValue="Sister"
                              nzLabel="Sister"
                            ></nz-option>
                            <nz-option
                              nzValue="Pastor"
                              nzLabel="Pastor"
                            ></nz-option>
                            <nz-option
                              nzValue="Husband"
                              nzLabel="Husband"
                            ></nz-option>
                            <nz-option
                              nzValue="Aunt"
                              nzLabel="Aunt"
                            ></nz-option>
                            <nz-option
                              nzValue="Uncle"
                              nzLabel="Uncle"
                            ></nz-option>
                            <nz-option
                              nzValue="Spouse"
                              nzLabel="Spouse"
                            ></nz-option>
                            <nz-option
                              nzValue="Child"
                              nzLabel="Child"
                            ></nz-option>
                            <nz-option
                              nzValue="Parent"
                              nzLabel="Parent"
                            ></nz-option>
                            <nz-option
                              nzValue="Sibling"
                              nzLabel="Sibling"
                            ></nz-option>
                            <nz-option
                              nzValue="Grandchildren"
                              nzLabel="Grandchildren"
                            ></nz-option>
                            <nz-option
                              nzValue="Grandparent"
                              nzLabel="Grandparent"
                            ></nz-option>
                            <nz-option
                              nzValue="Niece"
                              nzLabel="Niece"
                            ></nz-option>
                            <nz-option
                              nzValue="Nephew"
                              nzLabel="Nephew"
                            ></nz-option>
                            <nz-option
                              nzValue="First Cousin"
                              nzLabel="First Cousin"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Full Year Cover Duration*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            [disabled]="productDetailsDisabled | async"
                            [(ngModel)]="insurance.isFullYear"
                            name="isFullYear"
                            [nzSize]="'large'"
                          >
                            <nz-option nzValue="true" nzLabel="Yes"></nz-option>
                            <nz-option nzValue="false" nzLabel="No"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="24"
                          >Inception Date*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-date-picker
                            [(ngModel)]="insurance.dlIssueDate"
                            class="w-100"
                            name="dinception"
                            [disabled]="productDetailsDisabled | async"
                            [nzClassName]="'w-100'"
                          ></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="row" *ngIf="parentProductCat === 'travel'">
                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Travel Purpose*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="travelPurpose"
                            [(ngModel)]="insurance.travelPurpose"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Visit"
                              nzLabel="Visit"
                            ></nz-option>
                            <nz-option
                              nzValue="Conference/Training"
                              nzLabel="Conference/Training"
                            ></nz-option>
                            <nz-option
                              nzValue="Vacation"
                              nzLabel="Vacation"
                            ></nz-option>
                            <nz-option
                              nzValue="Treatment"
                              nzLabel="Treatment"
                            ></nz-option>
                            <nz-option
                              nzValue="Training"
                              nzLabel="Training"
                            ></nz-option>
                            <nz-option
                              nzValue="Sports"
                              nzLabel="Sports"
                            ></nz-option>
                            <nz-option
                              nzValue="Business"
                              nzLabel="Business"
                            ></nz-option>
                            <nz-option
                              nzValue="Others"
                              nzLabel="Others"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="25"
                          >Do you have any Pre-existing medical
                          condition?*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="preMedical"
                            [(ngModel)]="insurance.preMedical"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option nzValue="true" nzLabel="Yes"></nz-option>
                            <nz-option nzValue="false" nzLabel="No"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >If yes, please indicate</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            name="medical"
                            [(ngModel)]="insurance.medical"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Next of Kin Name*</nz-form-label
                        >
                        <nz-form-control>
                          <input
                            nz-input
                            name="kinName"
                            [(ngModel)]="insurance.nokName"
                            [disabled]="productDetailsDisabled | async"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-6">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Relationship*</nz-form-label
                        >
                        <nz-form-control>
                          <nz-select
                            name="noKrelationship"
                            [(ngModel)]="insurance.noKrelationship"
                            [disabled]="productDetailsDisabled | async"
                          >
                            <nz-option
                              nzValue="Wife"
                              nzLabel="Wife"
                            ></nz-option>
                            <nz-option
                              nzValue="Brother"
                              nzLabel="Brother"
                            ></nz-option>
                            <nz-option
                              nzValue="Sister"
                              nzLabel="Sister"
                            ></nz-option>
                            <nz-option
                              nzValue="Pastor"
                              nzLabel="Pastor"
                            ></nz-option>
                            <nz-option
                              nzValue="Husband"
                              nzLabel="Husband"
                            ></nz-option>
                            <nz-option
                              nzValue="Aunt"
                              nzLabel="Aunt"
                            ></nz-option>
                            <nz-option
                              nzValue="Uncle"
                              nzLabel="Uncle"
                            ></nz-option>
                            <nz-option
                              nzValue="Spouse"
                              nzLabel="Spouse"
                            ></nz-option>
                            <nz-option
                              nzValue="Child"
                              nzLabel="Child"
                            ></nz-option>
                            <nz-option
                              nzValue="Parent"
                              nzLabel="Parent"
                            ></nz-option>
                            <nz-option
                              nzValue="Sibling"
                              nzLabel="Sibling"
                            ></nz-option>
                            <nz-option
                              nzValue="Grandchild"
                              nzLabel="Grandchild"
                            ></nz-option>
                            <nz-option
                              nzValue="Grandparent"
                              nzLabel="Grandparent"
                            ></nz-option>
                            <nz-option
                              nzValue="Niece"
                              nzLabel="Niece"
                            ></nz-option>
                            <nz-option
                              nzValue="Nephew"
                              nzLabel="Nephew"
                            ></nz-option>
                            <nz-option
                              nzValue="First Cousin"
                              nzLabel="First Cousin"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-md-12">
                      <nz-form-item>
                        <nz-form-label class="form__label" [nzSpan]="15"
                          >Next of Kin Address*</nz-form-label
                        >
                        <nz-form-control>
                          <textarea
                            nz-input
                            rows="5"
                            name="addressKin"
                            [(ngModel)]="insurance.noKaddr"
                            [disabled]="productDetailsDisabled | async"
                          ></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="confirm-details">
                  <div class="row mb-4">
                    <div class="col-md-8">
                      <h3 class="heading color-dark">Upload Details:</h3>
                    </div>
                    <div class="col-md-4">
                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(uploadDetailsDisabled)"
                        *ngIf="!(uploadDetailsDisabled | async)"
                      >
                        SAVE CHANGES
                      </button>

                      <button
                        class="btn btn--blue"
                        (click)="makeEditable(uploadDetailsDisabled)"
                        *ngIf="uploadDetailsDisabled | async"
                      >
                        EDIT DETAILS
                      </button>
                    </div>
                  </div>

                  <p
                    class="plan-form__info bbn"
                    *ngIf="!(uploadDetailsDisabled | async)"
                  >
                    Please click on save changes after making changes
                  </p>

                  <div class="col-md-12 pl-0">
                    <div
                      class="row mb-4 align-items-center"
                      *ngIf="parentProductCat == 'auto'"
                    >
                      <div class="col-md-5 col-lg-5 col-xl-4">
                        <div class="plan-form__button-wrapper">
                          <button
                            class="plan-form__button cyan"
                            [disabled]="uploadDetailsDisabled | async"
                          >
                            <i class="fas fa-cloud-upload-alt"></i> Driver's
                            license
                          </button>

                          <input
                            type="file"
                            name="image"
                            (change)="handleChange($event, 'id')"
                            accept="image/x-png, image/jpeg"
                            [disabled]="uploadDetailsDisabled | async"
                          />
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-7 col-xl-8">
                        <p class="paragraph plan-form__upload-details">
                          {{ attachedFilesNames.id }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="row mb-4 align-items-center"
                      *ngIf="parentProductCat == 'auto'"
                    >
                      <div class="col-md-5 col-lg-5 col-xl-4">
                        <div class="plan-form__button-wrapper">
                          <button
                            class="plan-form__button blue"
                            [disabled]="uploadDetailsDisabled | async"
                          >
                            <i class="fas fa-cloud-upload-alt"></i> vehicle
                            license
                          </button>

                          <input
                            type="file"
                            name="image"
                            (change)="handleChange($event, 'license')"
                            accept="image/x-png,image/jpeg"
                            [disabled]="uploadDetailsDisabled | async"
                          />
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-7 col-xl-8">
                        <p class="paragraph plan-form__upload-details">
                          {{ attachedFilesNames.license }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="row mb-4 align-items-center"
                      *ngIf="
                        parentProductCat == 'auto' ||
                        parentProductCat === 'content' ||
                        parentProductCat === 'office' ||
                        selectedPlan?.subClassCoverTypes.productName ==
                          'Shop Content Insurance'
                      "
                    >
                      <div class="col-md-5 col-lg-5 col-xl-4">
                        <div class="plan-form__button-wrapper">
                          <button
                            class="plan-form__button red"
                            [disabled]="uploadDetailsDisabled | async"
                          >
                            <i class="fas fa-cloud-upload-alt"></i> Utility bill
                          </button>

                          <input
                            type="file"
                            name="image"
                            (change)="handleChange($event, 'bill')"
                            accept="image/x-png, image/jpeg"
                            [disabled]="uploadDetailsDisabled | async"
                          />
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-7 col-xl-8">
                        <p class="paragraph plan-form__upload-details">
                          {{ attachedFilesNames.bill }}
                        </p>
                      </div>
                    </div>

                    <div
                      class="row mb-4 align-items-center"
                      *ngIf="parentProductCat == 'travel'"
                    >
                      <div class="col-md-5 col-lg-5 col-xl-5">
                        <div class="plan-form__button-wrapper">
                          <button
                            class="plan-form__button red"
                            [disabled]="uploadDetailsDisabled | async"
                          >
                            <i class="fas fa-cloud-upload-alt"></i>
                            International Passport
                          </button>

                          <input
                            type="file"
                            name="image"
                            (change)="handleChange($event, 'passport')"
                            accept="image/x-png, image/jpeg"
                            [disabled]="uploadDetailsDisabled | async"
                          />
                        </div>
                      </div>
                      <div class="col-md-7 col-lg-7 col-xl-7">
                        <p class="paragraph plan-form__upload-details">
                          {{ attachedFilesNames.passport }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-5">
                <nz-form-item>
                  <label
                    nz-checkbox
                    [(ngModel)]="confirmDetails"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <span
                      >  I have gone through all the information provided and
                      confirm your submission.</span
                    >
                  </label>
                </nz-form-item>
              </div>
            </div>

            <div class="row" *ngIf="(current$ | async) === 4">
              <div class="col-md-12">
                <h3 class="heading heading--secondary plan-form__title">
                  MAKE PAYMENT
                </h3>
              </div>

              <div class="col-md-12">
                <p class="plan-form__desc">
                  Take note of this ref code you will need it to track this
                  payment - <b>{{ transactionRef }}</b>
                </p>
              </div>

              <div class="col-md-12">
                <nz-radio-group
                  [(ngModel)]="paymentOption"
                  [ngModelOptions]="{ standalone: true }"
                  class="w-100 mb-5"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <label nz-radio nzValue="flutterwave">
                        <img
                          src="./assets/images/payment/flutterwave.svg"
                          class="payment__image"
                          alt="flutterwave"
                        />
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label nz-radio nzValue="interswitch">
                        <img
                          src="./assets/images/payment/interswitch.svg"
                          class="payment__image"
                          alt="interswitch"
                        />
                      </label>
                    </div>
                  </div>
                </nz-radio-group>
              </div>
            </div>

            <div class="row justify-content-center mt-5">
              <div class="col-lg-8 col-xl-6">
                <nz-form-item>
                  <nz-form-control class="text-right">
                    <button
                      nz-button
                      nzType="primary"
                      (click)="confirmFormFields()"
                      class="btn btn--green w-100"
                      *ngIf="(current$ | async) === 3"
                      [disabled]="!confirmDetails || !validateUploads()"
                    >
                      CONFIRM AND SUBMIT
                    </button>

                    <app-ravpay
                      [text]="'COMPLETE PAYMENT'"
                      [className]="'w-100'"
                      *ngIf="
                        (current$ | async) === 4 &&
                        paymentOption === 'flutterwave'
                      "
                      (callback)="confirmPayment($event)"
                      (close)="cancelledPayment()"
                      [key]="raveOptions.PBFPubKey"
                      [reference]="raveOptions.txref"
                      [amount]="raveOptions.amount"
                      [email]="raveOptions.customer_email"
                      [customer_firstname]="raveOptions.customer_firstname"
                      [customer_lastname]="raveOptions.customer_lastname"
                      [customer_phone]="raveOptions.customer_phone"
                      [custom_description]="raveOptions.custom_description"
                    ></app-ravpay>

                    <app-interswitch
                      [interswitchOptions]="interswitchOptions"
                      [ispolicyrenewal]="false"
                      [showButton]="
                        (current$ | async) === 4 &&
                        paymentOption === 'interswitch'
                      "
                    ></app-interswitch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="price-card">
            <div class="price-card__header">
              <p class="price-card__title">
                {{ selectedPlan?.subClassCoverTypes?.description }}
              </p>
              <p
                class="price-card__subtitle"
                *ngIf="
                  selectedPlan?.subClassCoverTypes?.productName ==
                  'Private Motor Comprehensive'
                "
              >
                <!-- {{ selectedPlan?.subClassCoverTypes?.rate }} % /YR. -->
                PREMIUM
              </p>
              <p
                class="price-card__subtitle"
                *ngIf="
                  selectedPlan?.subClassCoverTypes?.productName !==
                    'Private Motor Comprehensive' &&
                  parentProductCat !== 'travel'
                "
              >
                <!-- {{
                  selectedPlan?.subClassCoverTypes?.rate
                    | currency: "NGN":"symbol-narrow":"0.2-2"
                }}
                /YR. -->
                PREMIUM
              </p>

              <p class="price-card__title" *ngIf="parentProductCat == 'travel'">
                Travel
              </p>
            </div>

            <div class="price-card__body">
              <div class="price-card__list">
                <p class="price-card__item" *ngIf="(planCategory$ | async) !== 'travel' && (planCategory$ | async) !== 'content'">Subtotal</p>
                <p class="price-card__item" *ngIf="(planCategory$ | async) == 'travel' || (planCategory$ | async) == 'content'">Premium</p>
                <p
                  class="price-card__item"
                  *ngIf="
                    selectedPlan?.subClassCoverTypes?.productName ==
                    'Private Motor Comprehensive' || selectedPlan?.subClassCoverTypes?.productName ==
                    'Private Motor Third Party' || (planCategory$ | async) == 'casualty'
                  "
                >
                  {{
                    insurance.premiumAmount
                      | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p>

                <p
                  class="price-card__item"
                  *ngIf="(planCategory$ | async) == 'travel'"
                >
                  {{
                    insurance.premium | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p>
                <p
                  class="price-card__item bold color-black"
                  *ngIf="(planCategory$ | async) == 'content'
                  "
                >
                  {{
                    10000 | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p>
              </div>
              <div class="price-card__list">
                <p class="price-card__item bold color-black" *ngIf="(planCategory$ | async) !== 'travel' && (planCategory$ | async) !== 'content'">Total</p>
                <p class="price-card__item bold color-black" *ngIf="(planCategory$ | async) == 'travel' || (planCategory$ | async) == 'content'">Sum Assured</p>
                <p
                  class="price-card__item bold color-black"
                  *ngIf="selectedPlan?.subClassCoverTypes?.productName ==
                    'Private Motor Comprehensive' || selectedPlan?.subClassCoverTypes?.productName ==
                    'Private Motor Third Party' || (planCategory$ | async) == 'casualty'"
                >
                  {{
                    insurance.premiumAmount
                      | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p>

                <p
                  class="price-card__item bold color-black"
                  *ngIf="(planCategory$ | async) == 'travel'
                  "
                >
                  {{insurance.currencySymbol}} {{ insurance.sumAssured | number : "0.2-2" }}
                </p>

                <p
                  class="price-card__item bold color-black"
                  *ngIf="(planCategory$ | async) == 'content'
                  "
                >
                  {{
                    2000000 | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p>
<!--
                <p
                  class="price-card__item bold color-black"
                  *ngIf="(planCategory$ | async) == 'content'
                  "
                >
                  {{
                    10000 | currency: "NGN":"symbol-narrow":"0.2-2"
                  }}
                </p> -->
              </div>
            </div>
          </div>

          <div class="details-card">
            <img
              src="./assets/images/insurance/auto/auto.png"
              alt=""
              class="details-card__image"
            />

            <div class="details-card__body">
              <p class="details-card__title">KEY BENEFITS</p>

              <ul class="details-card__list">
                <li
                  class="details-card__item"
                  *ngFor="let b of selectedPlan?.benefits | slice: 0:4"
                >
                  {{ b.name }}
                </li>
              </ul>
            </div>

            <div class="text-center">
              <a
                href="https://smetsysarajul.github.io/aiico-corporate/"
                class="btn color-red mt-3 mb-5"
                >VIEW ON CORPORATE SITE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-error-handler
    [showError]="error$ | async"
    [errorStatus]="errorStatus$ | async"
    [errorMessage]="errorMessage$ | async"
  ></app-error-handler>

  <div class="loader" *ngIf="loading$ | async">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</main>
